<div class="popup popup--call">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <h2 class="popup__title">Заказать звонок</h2>

      <form class="enroll__form form-submit">
        <label class="form-submit__group">
          <input class="form-submit__input" type="text" placeholder="Имя" />
        </label>
        <label class="form-submit__group">
          <input class="form-submit__input" type="email" placeholder="E-mail" />
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="tel"
            placeholder="+7 (999) - 999 - 99 - 99"
          />
        </label>
        <div class="form-submit__bottom">
          <div class="form-submit__agree">
            Нажимая кнопку «Записаться» вы принимаете <br />
            правила <a href="#">политики конфиденциальности</a> и <br />
            соглашаетесь с
            <a href="#">условиями оферты</a>
          </div>
          <button class="form-submit__btn btn" type="submit">
            ЗАКАЗАТЬ КОНСУЛЬТАЦИЮ
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="popup popup--support">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <h2 class="popup__title">Тех. поддержка</h2>

      <form class="enroll__form form-submit">
        <label class="form-submit__group">
          <input class="form-submit__input" type="text" placeholder="Имя" />
        </label>
        <label class="form-submit__group">
          <input class="form-submit__input" type="email" placeholder="E-mail" />
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="tel"
            placeholder="+7 (999) - 999 - 99 - 99"
          />
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="text"
            placeholder="Сообщение"
          />
        </label>
        <div class="form-submit__bottom">
          <div class="form-submit__agree">
            Нажимая кнопку «Записаться» вы принимаете <br />
            правила <a href="#">политики конфиденциальности</a> и <br />
            соглашаетесь с
            <a href="#">условиями оферты</a>
          </div>
          <button class="form-submit__btn btn" type="submit">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="popup popup--consultation">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <h2 class="popup__title">
        Заявка на консультацию <br />
        со специалистом
      </h2>

      <form class="enroll__form form-submit">
        <label class="form-submit__group">
          <input class="form-submit__input" type="text" placeholder="Имя" />
        </label>
        <label class="form-submit__group">
          <input class="form-submit__input" type="email" placeholder="E-mail" />
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="tel"
            placeholder="+7 (999) - 999 - 99 - 99"
          />
        </label>
        <div class="form-submit__bottom">
          <div class="form-submit__agree">
            Нажимая кнопку «Записаться» вы принимаете <br />
            правила <a href="#">политики конфиденциальности</a> и <br />
            соглашаетесь с
            <a href="#">условиями оферты</a>
          </div>
          <button class="form-submit__btn btn" type="submit">
            ЗАКАЗАТЬ КОНСУЛЬТАЦИЮ
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
