body {
  font-family: $Circe;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  color: var(--color-title);
  background-color: var(--color-white);
  position: relative;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1920px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main {
  margin-top: 130px;

  @include breakpointsMaxW($bp-991) {
    margin-top: 75px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 550ms ease;
  }
}

// * Заголовок секции
.section-title {
  @include adaptive-value('font-size', 40, 24, 1);
}

// * Кнопки
.btn {
  display: inline-block;
  background-color: var(--color-accent-dark);
  color: var(--color-white);
  transition: 150ms ease;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid var(--color-accent-dark);
  border-radius: 5px;
  padding: 17px 35px 15px;
  line-height: 1;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-dark);
  }

  &--transparent {
    border-radius: 5px;
    background-color: transparent;
    color: var(--color-bg-dark);
    text-transform: none;
    padding: 9px 15px;

    &:hover {
      background-color: var(--color-accent-dark);
      color: var(--color-white);
    }
  }

  &:active {
    transform: scale(0.98);
  }
}

// * Карта
.map {
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.badge {
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-accent-dark);
  border-radius: 5px;
  padding: 7px 10px;
  display: inline-block;
}

.pagination {
  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #a8aeb9;
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 150ms ease;

    &:hover,
    &--active {
      background-color: var(--color-accent-dark);
      color: var(--color-white);
      border-radius: 5px;
      font-size: 20px;
      font-weight: 700;
    }

    &--active {
      font-size: 22px;
    }

    &--further {
      width: auto;
      margin-left: 10px;

      &:hover {
        background-color: transparent;
        color: var(--color-dark);
        font-weight: 400;
        font-size: 15px;
      }
    }
  }
}

.rating {
  &__stars {
    display: flex;
    align-items: center;
  }

  &__star {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #fabd3b;
    @include maskImage(url('../images/icons/star.svg'), contain);

    &--disabled {
      background-color: #c1c1c1;
    }
  }
}

.descr-service-text {
  max-width: 1240px;
  font-weight: 300;
  color: #08202e;
  @include adaptive-value('padding-top', 70, 40, 1);
  @include adaptive-value('font-size', 20, 16, 1);
}

.tabs {
  &-content {
    display: none;

    &.active {
      display: block;
      animation: opacity-visibility 700ms ease forwards;
    }
  }
}

.dropdown-menu {
  border-radius: 20px;
  position: absolute;
  overflow: hidden;
  width: 305px;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 50px;
  background-color: var(--color-white);
  color: var(--color-dark);
  box-shadow: 0px 17px 95px 0px rgba(17, 17, 17, 0.17);
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  width: 710px;
  transform: translateY(-10px);
  transition: all 250ms ease-in-out;

  @include breakpointsMaxW($bp-991) {
    width: 400px;
  }

  @include breakpointsMaxW($bp-768) {
    border-radius: 5px;
    width: 300px;
  }

  .simplebar-scrollbar::before {
    background-color: var(--color-accent-dark);
  }

  &__lists {
    overflow-y: auto;
    height: 410px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 50px;
    padding: 30px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(2, auto);
    }
    @include breakpointsMaxW($bp-991) {
      padding: 10px;
    }
    @include breakpointsMaxW($bp-768) {
      height: 300px;
      gap: 20px;
    }
  }

  &__list {
    display: grid;
    gap: 8px;
  }

  &__item {
    width: 100%;
    position: relative;
  }

  &__link {
    display: block;
    width: 100%;
    transition: 150ms ease;
    font-size: 16px;
    color: #636468;

    @include breakpointsMaxW($bp-768) {
      font-size: 14px;
    }

    &:hover {
      color: var(--color-accent-dark);
    }
  }

  &.active {
    pointer-events: all;
    opacity: 1;
    visibility: hidden;
  }
}

.dropdown {
  &__btn {
    position: relative;
    text-align: left;
    width: 255px;
    background-color: #f9faff;
    border: 1px solid #e4e6ea;
    border-radius: 5px;
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
    color: #636468;
    padding: 10px 20px;
    height: 50px;

    &::after {
      @include elDef();
      width: 12px;
      height: 12px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      @include maskImage(url('../images/icons/chevron.svg'), 100%);
      background-color: var(--color-dark);
      transition: 200ms ease;
    }
  }

  &.active {
    .dropdown__btn + .dropdown-menu {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(0);
    }

    .dropdown__btn {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}

.nice-select {
  width: 255px;

  .list {
    width: 100%;
  }
}
