.breadcrumbs {
  display: flex;
  position: absolute;
  top: 150px;
  z-index: 6;
  left: max(15px, calc((100% - 1270px) / 2));
  margin-left: 135px;
  @include adaptive-value('padding-top', 24, 15, 1);

  @include breakpointsMaxW($bp-991) {
    left: 100px;
    top: 90px;
    margin-left: 0;
  }

  @include breakpointsMaxW($bp-576) {
    left: 70px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 7px;
      padding-right: 14px;
      transition: 150ms;

      &::after {
        @include elDef();
        content: '/';
        font-size: 11px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        color: #c2c2c2;
      }
    }
  }

  &__link {
    display: block;
    position: relative;
    transition: 150ms;
    color: #757f92;
    font-size: 12px;
    line-height: 1;

    &--active,
    &:hover {
      color: #c2c2c2;
    }
  }
}
