.enroll {
  @include background(cover);
  color: var(--color-white);
  @include adaptive-value('padding-top', 90, 50, 1);
  @include adaptive-value('padding-bottom', 90, 50, 1);
  @include adaptive-value('margin-bottom', 70, 40, 1);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__offer {
    max-width: 560px;
    width: 100%;
  }

  &__title {
    @include adaptive-value('font-size', 40, 25, 1);
    @include adaptive-value('margin-bottom', 35, 25, 1);
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
  }

  &--equipment {
    .form-submit__bottom {
      justify-content: space-between;
    }

    .form-submit__btn {
      padding: 15px;
    }

    .enroll {
      &__top {
        @include adaptive-value('margin-bottom', 50, 30, 1);
        text-align: center;
      }

      &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__offer {
        max-width: 650px;
      }

      &__title {
        @include fz35();
        color: var(--color-white);
      }
    }
  }

  &--descr {
    color: var(--color-bg-dark);

    .enroll {
      &__wrapper {
        justify-content: flex-start;
      }
    }
  }

  &--production-equipment {
    .enroll {
      &__title {
        @include fz35();
        color: var(--color-white);
      }
    }
  }
}
