.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  z-index: 10;
  transition: 200ms ease;

  &.scroll-header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

    .header__top {
      display: none;
    }
  }

  &__toggle {
    flex-shrink: 0;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 200ms ease-in;
    position: relative;
    border-radius: 3px;

    &-line {
      border-radius: 3px;
      width: calc(100% - 10px);
      height: 3px;
      background-color: var(--color-white);
      position: relative;
      transition: 200ms ease-in;

      &::after,
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        background-color: inherit;
        transition: 200ms ease-in;
        border-radius: 3px;
      }

      &::after {
        width: calc(100% + 5px);
      }

      &::before {
        width: calc(100% + 10px);
      }

      &::after {
        top: -9px;
      }

      &::before {
        bottom: -9px;
      }
    }
  }

  &__logo {
    @include breakpointsMaxW($bp-container) {
      width: 130px;
    }
  }
  &__top {
    padding: 17px 0;
    border-bottom: 1px solid #e8ebf1;
    @include breakpointsMaxW($bp-991) {
      display: none;
    }
    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 90px;

    @include breakpointsMaxW($bp-container) {
      gap: 20px;
    }
  }

  &__item {
    font-size: 14px;
    line-height: 1.2;
    color: #a3a6ad;
    padding-left: 22px;
    position: relative;
    @include breakpointsMaxW($bp-container) {
      padding-left: 15px;
    }

    &::after {
      @include elDef();
      width: 13px;
      height: 13px;
      background-color: #a3a6ad;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      transition: 200ms ease;
    }

    &--location {
      &::after {
        @include maskImage(url('../images/icons/location.svg'), contain);
      }
    }

    &--mail {
      transition: 200ms ease;

      &:hover {
        color: var(--color-accent);

        &::after {
          background-color: var(--color-accent);
        }
      }

      &::after {
        @include maskImage(url('../images/icons/mail.svg'), contain);
      }
    }
  }

  &__bottom {
    padding: 17px 0;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }

  &__tools {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__phone {
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    color: var(--color-bg-dark);
    margin-right: 10px;
    transition: 200ms ease;

    &:hover {
      color: var(--color-accent);
    }

    @include breakpointsMaxW($bp-container) {
      margin-right: 0;
      font-size: 15px;
    }
    @include breakpointsMaxW($bp-768) {
      display: none;
    }
  }

  &__btn {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    flex-shrink: 0;
    @include breakpointsMaxW($bp-container) {
      padding: 15px 20px;
    }
  }

  &__btn-support {
    width: 45px;
    height: 44px;
    position: relative;
    @include breakpointsMaxW($bp-768) {
      display: none;
    }

    &:hover {
      &::after {
        background-color: var(--color-white);
      }
    }

    &::after {
      transition: 200ms ease;
      @include elDef();
      top: 50%;
      left: 50%;
      width: 21px;
      height: 21px;
      transform: translate(-50%, -50%);
      background-color: var(--color-accent);
      @include maskImage(url('../images/icons/support-service.svg'), contain);
    }
  }
}

.top-menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 25px;
    @include breakpointsMaxW($bp-container) {
      gap: 15px;
    }
  }

  &__item {
    position: relative;
  }
  &__link {
    display: block;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #898b92;
    transition: 200ms ease;

    &:hover {
      color: var(--color-accent);
    }

    &--dropdown {
      padding-right: 15px;
      position: relative;
      border-radius: 5px;
      @include breakpointsMaxW($bp-container) {
        padding-right: 10px;
      }

      &::after {
        @include elDef();
        width: 7px;
        height: 7px;
        right: 0;
        top: 40%;
        transform: translateY(-50%);
        @include maskImage(url('../images/icons/chevron.svg'), 100%);
        background-color: var(--color-dark);
      }

      &:hover {
        &::before {
          transform: scale(0);
        }
        &::after {
          background-color: var(--color-accent);
        }

        & + .dropmenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }
  .dropmenu {
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    width: 200px;
    position: absolute;
    left: 0;
    top: 45px;
    background-color: var(--color-white);
    box-shadow: 0px 19px 51px 0px rgba(53, 56, 62, 0.23);

    border-radius: 5px;
    padding: 0 21px;
    transition: 450ms ease;
    transition-delay: 150ms;

    &--left {
      width: 300px;
    }

    &:hover {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    &__item {
      border-bottom: 1px solid #ebebeb;

      &:last-child {
        border-bottom: none;
      }
    }

    &__link {
      display: block;
      width: 100%;
      color: var(--color-dark);
      padding: 12px 0;
      transition: 150ms ease;
      position: relative;
      padding-right: 20px;

      &:hover {
        & + .submenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }

      &::after {
        @include elDef();
        width: 10px;
        height: 10px;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        @include maskImage(url('../images/sprite.svg#chevron'), 100%);
        background-color: #d0d0d0;
        transition: 150ms ease;
      }

      &:hover {
        color: var(--color-accent);

        &::after {
          background-color: var(--color-accent);
          transform: translateY(-50%) translateX(3px) rotate(-90deg);
        }
      }
    }
  }
}
