.hero {
  position: relative;
  color: var(--color-white);
  background-color: #1c2b48;

  &__btn {
    @include breakpointsMaxW($bp-768) {
      padding: 15px;
    }
    background-color: var(--color-accent-dark);

    &--mt-a {
      margin-top: auto;
    }
  }

  &__slider {
    .container {
      position: relative;
    }

    .swiper-pagination {
      display: flex;
      flex-direction: column;
      gap: 40px;
      left: initial;
      top: 55%;
      transform: translateY(-50%);
      width: 40px;
      padding-left: 30px;
      right: max(15px, calc((100% - 1270px) / 2));

      @include breakpointsMaxW($bp-768) {
        display: none;
      }

      &-bullet {
        width: 14px;
        height: 1px;
        background-color: #c0c9dc;
        position: relative;

        &:nth-child(2) {
          &::after {
            content: '02';
          }
        }

        &:nth-child(3) {
          &::after {
            content: '03';
          }
        }

        &:nth-child(4) {
          &::after {
            content: '04';
          }
        }

        &:nth-child(5) {
          &::after {
            content: '05';
          }
        }

        &::after {
          @include elDef();
          content: '01';
          font-size: 15px;
          line-height: 1;
          font-weight: 400;
          color: #c0c9dc;
          top: 50%;
          transform: translateY(-50%);
          left: -30px;
        }

        &-active {
          background-color: var(--color-accent);

          &::after {
            color: var(--color-accent);
            font-size: 25px;
            left: -35px;

            @include breakpointsMaxW($bp-768) {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  &__arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 52px;
    gap: 10px;
    position: absolute;
    left: 0;
    bottom: 40px;
    z-index: 3;

    left: max(15px, calc((100% - 1270px) / 2));
    margin-left: 120px;

    @include breakpointsMaxW($bp-991) {
      left: 115px;
      margin-left: 0;
    }

    @include breakpointsMaxW($bp-576) {
      left: 85px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: block;
      background-color: transparent;
      width: 20px;
      height: 20px;
      margin-top: initial;
      top: initial;
      right: initial;
      bottom: initial;
      left: initial;
      transform: initial;
      transition: 200ms ease;

      &:hover {
        &::after {
          background-color: var(--color-accent-dark);
        }
      }
    }
  }

  &__slide {
    box-sizing: border-box;
    @include background(cover);

    @include breakpointsMaxW($bp-768) {
      background-position-x: 35%;
    }
  }

  &__offer {
    max-width: 585px;
    height: 810px;
    padding-left: 120px;
    padding-bottom: 40px;
    padding-top: 185px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include breakpointsMaxW($bp-991) {
      padding-left: 100px;
      height: 600px;
      padding-top: 100px;
    }

    @include breakpointsMaxW($bp-768) {
      height: 500px;
      padding-top: 70px;
    }

    @include breakpointsMaxW($bp-576) {
      padding-left: 70px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.4;
    color: #c0c9dc;
    @include adaptive-value('font-size', 20, 16, 1);
    margin-bottom: 32px;
  }

  &__title {
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;

    @include adaptive-value('font-size', 50, 22, 1);

    span {
      color: var(--color-accent);
    }
  }

  &__link {
    font-size: 17px;
    line-height: 1;
    font-weight: 700;
    color: var(--color-accent-dark);
    padding-left: 30px;
    position: relative;
    display: block;
    margin-top: auto;
    text-transform: uppercase;

    &::after {
      @include elDef();
      width: 16px;
      height: 16px;
      top: 10%;
      left: 0;
      @include maskImage(url('../images/icons/chevron.svg'), contain);
      background-color: var(--color-white);
      transform: rotate(90deg);
    }
  }

  .hero__nav {
    position: absolute;
    top: 0;
    left: max(15px, calc((100% - 1270px) / 2));
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 60px 0 35px;
    width: 40px;
    border-right: 1px solid #33415b;
    padding-right: 12px;

    &--border-light {
      border-right: 1px solid #7f868a;
    }

    @include breakpointsMaxW($bp-991) {
      background-color: #1c2b48;
      padding-right: 15px;
      padding-left: 15px;
      width: 60px;
      left: 0;
    }

    @include breakpointsMaxW($bp-768) {
      padding-right: 10px;
      padding-left: 10px;
      width: 50px;
    }

    @include breakpointsMaxW($bp-576) {
      padding: 40px 0;
    }

    .socials__list {
      writing-mode: vertical-rl;
      gap: 40px;

      margin-bottom: 85px;

      &--mb55 {
        margin-bottom: 55px;
        gap: 45px;
      }

      &--news {
        margin-bottom: 50px;
      }

      &--mt {
        gap: 50px;
      }

      &--blog {
        margin-bottom: 68px;
      }

      @include breakpointsMaxW($bp-768) {
        gap: 20px;
      }
    }

    .socials {
      @include breakpointsMaxW($bp-991) {
        span {
          display: none;
        }
      }
    }

    .socials__link {
      padding-left: 5px;
      padding-top: 30px;
      transform: rotate(180deg);
      color: #c0c9dc;
      font-size: 15px;

      &:hover {
        color: var(--color-white);
      }

      &::after {
        background-color: var(--color-white);
        left: 65%;
        transform: translate(-50%, 0) rotate(180deg);
        top: 0;
      }
    }

    &-mail {
      width: 22px;
      height: 22px;
      @include maskImage(url('../images/icons/mail.svg'), contain);
      background-color: var(--color-accent);
    }

    .hero-nav {
      &__list {
        display: flex;
        align-items: center;
        gap: 60px;
      }
    }
  }

  .form-submit {
    &__group {
      position: relative;
    }

    &__arrow {
      position: absolute;
      width: 19px;
      height: 19px;
      @include backgroundImage(url('../images/content/arrow.png'), contain);
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--news {
    @include background(cover);
    box-sizing: border-box;

    .form-submit__text {
      font-size: 15px;
    }

    .form-submit__group {
      height: 35px;
    }

    .form-submit__input {
      font-size: 15px;
      padding-bottom: 10px;
    }

    .hero {
      &__form {
        margin-top: auto;
        gap: 30px;
      }

      &__text {
        margin-bottom: 30px;

        p {
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }

        .color-white {
          color: var(--color-white);
        }
      }

      &__title {
        max-width: 100%;
      }

      &__offer {
        @include adaptive-value('padding-bottom', 90, 40, 1);
        @include adaptive-value('padding-top', 170, 80, 1);
        max-width: 750px;
        height: 645px;

        @include breakpointsMaxW($bp-991) {
          min-height: 500px;
          height: auto;
        }

        @include breakpointsMaxW($bp-768) {
          min-height: 400px;
        }
      }
    }
  }

  &--planning {
    .hero__offer {
      max-width: 100%;
    }

    .hero__btn {
      margin-top: auto;
    }
  }

  &--404 {
    .hero__title {
      font-size: 158px;
      @include adaptive-value('font-size', 158, 100, 1);
    }
  }
}
