.our-cases {
  @include adaptive-value('padding-top', 50, 30, 1);
  @include adaptive-value('padding-bottom', 50, 30, 1);

  &__title {
    color: var(--color-bg-dark);
    @include fz40();
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    @include adaptive-value('margin-bottom', 50, 30, 1);

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__slider {
    @include adaptive-value('padding-bottom', 80, 60, 1);

    .swiper-pagination {
      top: initial;
      width: calc(100% - 110px);
    }
  }

  &__content {
    position: relative;
  }

  &__arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 82px;
    gap: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;

    .swiper-button-next,
    .swiper-button-prev {
      display: block;
      margin-top: initial;
      top: initial;
      right: initial;
      bottom: initial;
      left: initial;
      transform: initial;
    }
  }

  &__slide {
    max-width: 410px;
    box-sizing: border-box;

    @include adaptive-value('max-width', 410, 280, 1);
  }
}
