.support {
  @include adaptive-value('padding-top', 60, 40, 1);
  @include adaptive-value('padding-bottom', 60, 40, 1);

  &__text {
    @include adaptive-value('margin-bottom', 50, 30, 1);

    p {
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  .socials {
    &__link {
      font-size: 18px;
      line-height: 1;
      font-weight: 300;
      color: #4f595e;
    }

    &__list {
      flex-wrap: wrap;
    }
  }

  &__inner {
    background-color: #f2f2f2;
    padding: 30px 0;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: flex-end;
    gap: 20px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
      gap: 50px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  &__link {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 15px;
    line-height: 1;
    gap: 15px;
    font-weight: 700;
    color: var(--color-title);
    padding-left: 25px;
    position: relative;

    &::after {
      @include elDef();
      width: 15px;
      height: 15px;
      background-color: var(--color-accent);
      left: 0;
      top: 0;
    }

    &--phone {
      &::after {
        @include maskImage(url('../images/icons/phone.svg'), contain);
      }
    }

    &--mail {
      &::after {
        @include maskImage(url('../images/icons/mail.svg'), contain);
      }
    }

    &-numbers {
      font-size: 20px;
      font-weight: 400;

      @include breakpointsMaxW($bp-768) {
        font-size: 17px;
      }
    }
  }
}
