<section
  class="become-member"
  style="background-image: url('images/content/become-member.jpg')"
>
  <div class="container">
    <div class="become-member__wrapper">
      <div class="become-member__top">
        <h2 class="become-member__title">
          Заполните форму, <br />
          чтобы стать участником PLM Club
        </h2>
      </div>
      <form class="become-member__form form-submit">
        <label class="form-submit__group">
          <input class="form-submit__input" type="text" placeholder="Фамилия" />
          <span class="form-submit__line"></span>
        </label>
        <label class="form-submit__group">
          <input class="form-submit__input" type="text" placeholder="Имя" />
          <span class="form-submit__line"></span>
        </label>
        <label class="form-submit__group">
          <input class="form-submit__input" type="text" placeholder="Отчество" />
          <span class="form-submit__line"></span>
        </label>
        <label class="form-submit__group">
          <input class="form-submit__input" type="text" placeholder="Город" />
          <span class="form-submit__line"></span>
        </label>
        <label class="form-submit__group">
          <input class="form-submit__input" type="text" placeholder="Компания" />
          <span class="form-submit__line"></span>
        </label>
        <label class="form-submit__group">
          <input class="form-submit__input" type="text" placeholder="Должность" />
          <span class="form-submit__line"></span>
        </label>
        <label class="form-submit__group">
          <input class="form-submit__input" type="email" placeholder="E-mail" />
          <span class="form-submit__line"></span>
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="tel"
            placeholder="+7 (999) - 999 - 99 - 99"
          />
          <span class="form-submit__line"></span>
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="tel"
            placeholder="Комментарий"
          />
          <span class="form-submit__line"></span>
        </label>

        <div class="form-submit__bottom">
          <div class="form-submit__agree">
            Отправляя заявку, Вы соглашаетесь с
            <br />
            <a href="#">правилами политики конфиденциальности</a>
          </div>
          <button class="form-submit__btn btn" type="submit">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</section>
