<section class="events-page">
  <div class="container">
    <h2 class="visually-hidden">Список новостей</h2>

    <ul class="blog__list">
      <li class="blog__item">
        <article class="events-card events-card--blog">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/blog/1.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <p class="events-card__date">26.04.2022 | 16:00</p>
            <h3 class="events-card__title">
              <a href="#"
                >Бесплатный вебинар «Обзор возможностей системы CAD/CAM от
                ZWSoft», 14.04.22</a
              >
            </h3>
            <div class="events-card__text">
              <p>
                ZWSoft - это лучшая замена ранее ведущим CAD/CAM решениям!
                Узнайте о возможностях ZW3D. Регистрируйтесь на вебинар!
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="events-card events-card--blog">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/blog/2.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <p class="events-card__date">26.04.2022 | 16:00</p>
            <h3 class="events-card__title">
              <a href="#"
                >Бесплатный вебинар «Обзор возможностей системы CAD/CAM от
                ZWSoft», 14.04.22</a
              >
            </h3>
            <div class="events-card__text">
              <p>
                ZWSoft - это лучшая замена ранее ведущим CAD/CAM решениям!
                Узнайте о возможностях ZW3D. Регистрируйтесь на вебинар!
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="events-card events-card--blog">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/blog/3.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <p class="events-card__date">26.04.2022 | 16:00</p>
            <h3 class="events-card__title">
              <a href="#"
                >Бесплатный вебинар «Обзор возможностей системы CAD/CAM от
                ZWSoft», 14.04.22</a
              >
            </h3>
            <div class="events-card__text">
              <p>
                ZWSoft - это лучшая замена ранее ведущим CAD/CAM решениям!
                Узнайте о возможностях ZW3D. Регистрируйтесь на вебинар!
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="events-card events-card--blog">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/blog/4.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <p class="events-card__date">26.04.2022 | 16:00</p>
            <h3 class="events-card__title">
              <a href="#"
                >Бесплатный вебинар «Обзор возможностей системы CAD/CAM от
                ZWSoft», 14.04.22</a
              >
            </h3>
            <div class="events-card__text">
              <p>
                ZWSoft - это лучшая замена ранее ведущим CAD/CAM решениям!
                Узнайте о возможностях ZW3D. Регистрируйтесь на вебинар!
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="events-card events-card--blog">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/blog/5.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <p class="events-card__date">26.04.2022 | 16:00</p>
            <h3 class="events-card__title">
              <a href="#"
                >Бесплатный вебинар «Обзор возможностей системы CAD/CAM от
                ZWSoft», 14.04.22</a
              >
            </h3>
            <div class="events-card__text">
              <p>
                ZWSoft - это лучшая замена ранее ведущим CAD/CAM решениям!
                Узнайте о возможностях ZW3D. Регистрируйтесь на вебинар!
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="events-card events-card--blog">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/blog/6.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <p class="events-card__date">26.04.2022 | 16:00</p>
            <h3 class="events-card__title">
              <a href="#"
                >Бесплатный вебинар «Обзор возможностей системы CAD/CAM от
                ZWSoft», 14.04.22</a
              >
            </h3>
            <div class="events-card__text">
              <p>
                ZWSoft - это лучшая замена ранее ведущим CAD/CAM решениям!
                Узнайте о возможностях ZW3D. Регистрируйтесь на вебинар!
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="events-card events-card--blog">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/blog/7.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <p class="events-card__date">26.04.2022 | 16:00</p>
            <h3 class="events-card__title">
              <a href="#"
                >Бесплатный вебинар «Обзор возможностей системы CAD/CAM от
                ZWSoft», 14.04.22</a
              >
            </h3>
            <div class="events-card__text">
              <p>
                ZWSoft - это лучшая замена ранее ведущим CAD/CAM решениям!
                Узнайте о возможностях ZW3D. Регистрируйтесь на вебинар!
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="events-card events-card--blog">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/blog/8.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <p class="events-card__date">26.04.2022 | 16:00</p>
            <h3 class="events-card__title">
              <a href="#"
                >Бесплатный вебинар «Обзор возможностей системы CAD/CAM от
                ZWSoft», 14.04.22</a
              >
            </h3>
            <div class="events-card__text">
              <p>
                ZWSoft - это лучшая замена ранее ведущим CAD/CAM решениям!
                Узнайте о возможностях ZW3D. Регистрируйтесь на вебинар!
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="events-card events-card--blog">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/blog/9.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <p class="events-card__date">26.04.2022 | 16:00</p>
            <h3 class="events-card__title">
              <a href="#"
                >Бесплатный вебинар «Обзор возможностей системы CAD/CAM от
                ZWSoft», 14.04.22</a
              >
            </h3>
            <div class="events-card__text">
              <p>
                ZWSoft - это лучшая замена ранее ведущим CAD/CAM решениям!
                Узнайте о возможностях ZW3D. Регистрируйтесь на вебинар!
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="events-card events-card--blog">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/blog/1.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <p class="events-card__date">26.04.2022 | 16:00</p>
            <h3 class="events-card__title">
              <a href="#"
                >Бесплатный вебинар «Обзор возможностей системы CAD/CAM от
                ZWSoft», 14.04.22</a
              >
            </h3>
            <div class="events-card__text">
              <p>
                ZWSoft - это лучшая замена ранее ведущим CAD/CAM решениям!
                Узнайте о возможностях ZW3D. Регистрируйтесь на вебинар!
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="events-card events-card--blog">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/blog/2.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <p class="events-card__date">26.04.2022 | 16:00</p>
            <h3 class="events-card__title">
              <a href="#"
                >Бесплатный вебинар «Обзор возможностей системы CAD/CAM от
                ZWSoft», 14.04.22</a
              >
            </h3>
            <div class="events-card__text">
              <p>
                ZWSoft - это лучшая замена ранее ведущим CAD/CAM решениям!
                Узнайте о возможностях ZW3D. Регистрируйтесь на вебинар!
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="events-card events-card--blog">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/blog/3.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <p class="events-card__date">26.04.2022 | 16:00</p>
            <h3 class="events-card__title">
              <a href="#"
                >Бесплатный вебинар «Обзор возможностей системы CAD/CAM от
                ZWSoft», 14.04.22</a
              >
            </h3>
            <div class="events-card__text">
              <p>
                ZWSoft - это лучшая замена ранее ведущим CAD/CAM решениям!
                Узнайте о возможностях ZW3D. Регистрируйтесь на вебинар!
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="events-card events-card--blog">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/blog/4.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <p class="events-card__date">26.04.2022 | 16:00</p>
            <h3 class="events-card__title">
              <a href="#"
                >Бесплатный вебинар «Обзор возможностей системы CAD/CAM от
                ZWSoft», 14.04.22</a
              >
            </h3>
            <div class="events-card__text">
              <p>
                ZWSoft - это лучшая замена ранее ведущим CAD/CAM решениям!
                Узнайте о возможностях ZW3D. Регистрируйтесь на вебинар!
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="events-card events-card--blog">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/blog/5.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <p class="events-card__date">26.04.2022 | 16:00</p>
            <h3 class="events-card__title">
              <a href="#"
                >Бесплатный вебинар «Обзор возможностей системы CAD/CAM от
                ZWSoft», 14.04.22</a
              >
            </h3>
            <div class="events-card__text">
              <p>
                ZWSoft - это лучшая замена ранее ведущим CAD/CAM решениям!
                Узнайте о возможностях ZW3D. Регистрируйтесь на вебинар!
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="events-card events-card--blog">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/blog/6.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <p class="events-card__date">26.04.2022 | 16:00</p>
            <h3 class="events-card__title">
              <a href="#"
                >Бесплатный вебинар «Обзор возможностей системы CAD/CAM от
                ZWSoft», 14.04.22</a
              >
            </h3>
            <div class="events-card__text">
              <p>
                ZWSoft - это лучшая замена ранее ведущим CAD/CAM решениям!
                Узнайте о возможностях ZW3D. Регистрируйтесь на вебинар!
              </p>
            </div>
          </div>
        </article>
      </li>
    </ul>

    <div class="events-page__bottom">
      <div class="events-page__pagination pagination">
        <ul class="pagination__list">
          <li class="pagination__item">
            <a class="pagination__link pagination__link--active" href="#">1</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">2</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">3</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">4</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">5</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link pagination__link--further" href="#"
              >Далеее</a
            >
          </li>
        </ul>
      </div>

      <a class="events-page__btn btn btn--transparent" href="#"
        >Загрузить еще</a
      >
    </div>
  </div>
</section>
