<section class="cases cases--pb-0">
  <div class="container">
    <h2 class="cases__title">Наши кейсы по бизнес - консалтингу</h2>
  </div>
  <div class="specialized-content specialized-content--btn">
    <div class="container">
      <div class="specialized-content__wrapper">
        <div class="specialized-content__left">
          <h3 class="specialized-content__heading">
            Интернет-магазин семян и саженцев Seedspost получает от прямого
            маркетинга 22,5% выручки
          </h3>

          <div class="specialized-content__time">
            <p>
              <span>Задача:</span> Повысить доходность прямых каналов
              коммуникации
            </p>
          </div>
          <div class="specialized-content__text">
            <p>
              Раньше у Seedspost не было возможности самим отправлять массовые
              рассылки — приходилось заранее согласовывать план коммуникаций с
              платформой, чтобы они уходили по утвержденному расписанию.
            </p>
          </div>
        </div>
        <div class="specialized-content__img">
          <img src="images/content/cases.jpg" alt="турбомашина" />
        </div>
        <div class="specialized-content__solution">
          <h3 class="specialized-content__heading">РЕШЕНИЕ:</h3>
          <div class="specialized-content__text">
            <p>
              Чтобы добиться большей гибкости, генеральный директор Seedspost
              принял решение о переходе на Mindbox. Благодаря тому, что
              платформа позволяет сегментировать клиентов и настраивать рассылки
              в интерфейсе, маркетинг стал более оперативным а доля выручки от
              рассылок увеличилась с 10 до 22,5%.
            </p>
          </div>
          <button class="specialized-content__btn btn" type="button">
            У МЕНЯ ПОХОЖИЙ ПРОЕКТ
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
