<section class="certificates">
  <h2 class="visually-hidden">Сертификаты</h2>

  <div class="container">
    <div class="certificates__top">
      <span class="certificates__name">Выберите материалы</span>

      <select class="certificates__select select">
        <option value="">Все</option>
        <option value="1">Не все</option>
        <option value="2">Почти все</option>
      </select>
    </div>

    <ul class="certificates__list">
      <li
        class="certificates__item"
        data-fancybox
        data-src="images/content/certificates/1.jpg"
      >
        <img src="images/content/certificates/1.jpg" alt="1" />
      </li>

      <li
        class="certificates__item"
        data-fancybox
        data-src="images/content/certificates/2.jpg"
      >
        <img src="images/content/certificates/2.jpg" alt="1" />
      </li>
      <li
        class="certificates__item"
        data-fancybox
        data-src="images/content/certificates/3.jpg"
      >
        <img src="images/content/certificates/3.jpg" alt="1" />
      </li>
      <li
        class="certificates__item"
        data-fancybox
        data-src="images/content/certificates/4.jpg"
      >
        <img src="images/content/certificates/4.jpg" alt="1" />
      </li>
    </ul>
  </div>
</section>
