<section class="course-catalog">
  <div class="container">
    <div class="course-catalog__top">
      <h2 class="course-catalog__title">Каталог курсов</h2>
      <p class="course-catalog__text">
        Обучение проходит по нескольким программам:
      </p>
    </div>

    <ul class="course-catalog__list">
      <li class="course-catalog__item">
        <article
          class="catalog-card"
          style="background-image: url(images/content/courses/1.jpg)"
        >
          <h3 class="catalog-card__title">NX CAD</h3>
          <a class="catalog-card__link" href="#" ></a>
        </article>
      </li>
      <li class="course-catalog__item">
        <article
          class="catalog-card"
          style="background-image: url(images/content/courses/2.jpg)"
        >
          <h3 class="catalog-card__title">NX CAM</h3>
          <a class="catalog-card__link" href="#" ></a>
        </article>
      </li>
      <li class="course-catalog__item">
        <article
          class="catalog-card"
          style="background-image: url(images/content/courses/3.jpg)"
        >
          <h3 class="catalog-card__title">ZW3D</h3>
          <a class="catalog-card__link" href="#" ></a>
        </article>
      </li>
    </ul>
  </div>
</section>
