<section class="descr">
  <div class="container">
    <div class="descr__wrapper">
      <div class="descr__left">
        <h2 class="descr__title">
          Создаем и реализуем <br />
          концепции
          <span>
            цифровизации <br />
            бизнеса производственных компаний
          </span>
        </h2>
        <div class="descr__text">
          <p>
            ориентированные на конкретный и ощутимый результат. Наши знания и
            опыт в различных отраслях промышленности помогают выявлять области
            бизнеса, в которых цифровые технологии помогут сократить издержки,
            нарастить объем производства и повысить качество выпускаемой
            продукции.
          </p>
        </div>
      </div>
      <div
        class="descr__preview"
        style="background-image: url('images/content/descr.png')"
      ></div>
    </div>
  </div>
</section>
