<div class="container">
  <div class="descr-service-text">
    <p>
      Наша компания на протяжении многих лет занимается оказанием правовых и
      консалтинговых услуг в Москве коммерческим организациям и индивидуальным
      предпринимателям в любых сферах деятельности. Наши специалисты смогут
      решить любые проблемы, связанные с консалтингом в Москве. Все наши клиенты
      получают полный комплекс мероприятий юридического сопровождения самого
      высокого уровня. Вне зависимости от формы вашей организации (ООО,ОАО, ИП),
      мы всегда стремимся поддержать Ваше дело, чтобы Вы могли спокойно его
      развивать и достигать благополучия.
    </p>
  </div>
</div>
