<section class="descr-adv">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>

    <div class="descr-adv__content">
      <div class="descr-adv__slider swiper">
        <ul class="descr-adv__slides swiper-wrapper">
          <li class="descr-adv__slide swiper-slide">
            <div class="descr-item">
              <div class="descr-item__img">
                <img
                  src="images/content/descr-adv/1.png"
                  alt="проектирование
                  изделия"
                />
              </div>

              <h3 class="descr-item__title">
                проектирование <br />
                изделия
              </h3>
            </div>
          </li>
          <li class="descr-adv__slide swiper-slide">
            <div class="descr-item">
              <div class="descr-item__img">
                <img
                  src="images/content/descr-adv/2.png"
                  alt="проектирование
                  изделия"
                />
              </div>

              <h3 class="descr-item__title">
                технологическая <br />
                подготовка
              </h3>
            </div>
          </li>
          <li class="descr-adv__slide swiper-slide">
            <div class="descr-item">
              <div class="descr-item__img">
                <img
                  src="images/content/descr-adv/3.png"
                  alt="проектирование
                  изделия"
                />
              </div>

              <h3 class="descr-item__title">
                разработка <br />
                изделия
              </h3>
            </div>
          </li>
          <li class="descr-adv__slide swiper-slide">
            <div class="descr-item">
              <div class="descr-item__img">
                <img
                  src="images/content/descr-adv/4.png"
                  alt="проектирование
                  изделия"
                />
              </div>

              <h3 class="descr-item__title">
                производство <br />
                продукции
              </h3>
            </div>
          </li>
          <li class="descr-adv__slide swiper-slide">
            <div class="descr-item">
              <div class="descr-item__img">
                <img
                  src="images/content/descr-adv/1.png"
                  alt="проектирование
                  изделия"
                />
              </div>

              <h3 class="descr-item__title">
                проектирование <br />
                изделия
              </h3>
            </div>
          </li>
          <li class="descr-adv__slide swiper-slide">
            <div class="descr-item">
              <div class="descr-item__img">
                <img
                  src="images/content/descr-adv/2.png"
                  alt="проектирование
                  изделия"
                />
              </div>

              <h3 class="descr-item__title">
                технологическая <br />
                подготовка
              </h3>
            </div>
          </li>
          <li class="descr-adv__slide swiper-slide">
            <div class="descr-item">
              <div class="descr-item__img">
                <img
                  src="images/content/descr-adv/3.png"
                  alt="проектирование
                  изделия"
                />
              </div>

              <h3 class="descr-item__title">
                разработка <br />
                изделия
              </h3>
            </div>
          </li>
          <li class="descr-adv__slide swiper-slide">
            <div class="descr-item">
              <div class="descr-item__img">
                <img
                  src="images/content/descr-adv/4.png"
                  alt="проектирование
                  изделия"
                />
              </div>

              <h3 class="descr-item__title">
                производство <br />
                продукции
              </h3>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
