<section class="education-adv">
  <div class="container">
    <h2 class="education-adv__title">Обучение Online — это:</h2>

    <ul class="education-adv__list">
      <li class="education-adv-item education-adv-item--economy">
        <div class="education-adv-item__top">
          <h3 class="education-adv-item__title">Экономия времени и денег</h3>
        </div>
        <div class="education-adv-item__text">
          <p>
            Возможность пройти курс удаленно, без затрат на перелет и проживание
          </p>
        </div>
      </li>
      <li class="education-adv-item education-adv-item--certificate">
        <div class="education-adv-item__top">
          <h3 class="education-adv-item__title">
            Официальный сертификат Siemens
          </h3>
        </div>
        <div class="education-adv-item__text">
          <p>
            После прохождения курса слушатель получает официальный сертификат
            Siemens
          </p>
        </div>
      </li>
      <li class="education-adv-item education-adv-item--teacher">
        <div class="education-adv-item__top">
          <h3 class="education-adv-item__title">
            Преподаватель всегда на связи
          </h3>
        </div>
        <div class="education-adv-item__text">
          <p>
            Преподаватель на связи на протяжении всего обучения, можно задавать
            любые вопросы.
          </p>
        </div>
      </li>
      <li class="education-adv-item education-adv-item--experience">
        <div class="education-adv-item__top">
          <h3 class="education-adv-item__title">
            Опытные <br />
            преподаватели-практики
          </h3>
        </div>
        <div class="education-adv-item__text">
          <p>
            Курсы проводят опытные преподаватели, не только теоретики, но и
            практики.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
