<section
  class="enroll"
  style="
    background-image: url('images/content/enroll-production-equipment.jpg');
  "
>
  <div class="container">
    <div class="enroll__wrapper">
      <div class="enroll__offer">
        <div class="enroll__top">
          <h2 class="enroll__title">
            Оставить заявку<br />
            на производство станков с ЧПУ
          </h2>
        </div>
        <form class="enroll__form form-submit">
          <label class="form-submit__group">
            <input class="form-submit__input" type="text" placeholder="Имя" />
            <span class="form-submit__line"></span>
          </label>
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="email"
              placeholder="E-mail"
            />
            <span class="form-submit__line"></span>
          </label>
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="tel"
              placeholder="+7 (999) - 999 - 99 - 99"
            />
            <span class="form-submit__line"></span>
          </label>
          <div class="form-submit__bottom">
            <div class="form-submit__agree">
              Нажимая кнопку «Записаться» вы принимаете <br />
              правила <a href="#">политики конфиденциальности</a> и <br />
              соглашаетесь с
              <a href="#">условиями оферты</a>
            </div>
            <button class="form-submit__btn btn" type="submit">
              ЗАПИСАТЬСЯ
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
