<section class="equipments">
  <div class="container">
    <div class="equipments__top">
      <div class="equipments__top-left">
        <h2 class="equipments__title">Производственное оборудование</h2>
        <div class="equipments__text">
          <p>
            Наши знания и опыт в различных отраслях промышленности помогают
            выявлять области бизнеса, в которых цифровые технологии помогут
            сократить издержки, нарастить объем производства и повысить качество
            выпускаемой продукции.
          </p>
        </div>
      </div>

      <a class="equipments__btn btn" href="#">Подробнее</a>
    </div>

    <ul class="equipments__list">
      <li class="equipments__item">
        <article
          class="equipments-card"
          style="background-image: url(images/content/equipments/1.jpg)"
        >
          <h3 class="equipments-card__title">Станки с ЧПУ</h3>

          <div class="equipments-card__overlay">
            <h3 class="equipments-card__title equipments-card__title--dark">
              Станки с ЧПУ
            </h3>
            <div class="equipments-card__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.
              </p>
            </div>

            <a class="equipments-card__btn btn" href="#">Подробнее</a>
          </div>
        </article>
      </li>
      <li class="equipments__item">
        <article
          class="equipments-card"
          style="background-image: url(images/content/equipments/2.jpg)"
        >
          <h3 class="equipments-card__title">
            Станки лазерного раcкроя металла
          </h3>

          <div class="equipments-card__overlay">
            <h3 class="equipments-card__title equipments-card__title--dark">
              Станки лазерного раcкроя металла
            </h3>
            <div class="equipments-card__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.
              </p>
            </div>

            <a class="equipments-card__btn btn" href="#">Подробнее</a>
          </div>
        </article>
      </li>
      <li class="equipments__item">
        <article
          class="equipments-card"
          style="background-image: url(images/content/equipments/3.jpg)"
        >
          <h3 class="equipments-card__title">Режущий инструмент</h3>

          <div class="equipments-card__overlay">
            <h3 class="equipments-card__title equipments-card__title--dark">
              Режущий инструмент
            </h3>
            <div class="equipments-card__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.
              </p>
            </div>

            <a class="equipments-card__btn btn" href="#">Подробнее</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
