<section class="events">
  <div class="container">
    <div class="events__top">
      <div class="events__top-left">
        <h2 class="events__title">Мероприятия</h2>
        <div class="events__text">
          <p>Расписание событий, вебинаров, выставок и встреч PLM Club.</p>
        </div>
      </div>

      <a class="events__btn btn" href="#">Подробнее</a>
    </div>

    <div class="events__content">
      <div class="events__slider swiper">
        <ul class="events__slides swiper-wrapper">
          <li class="events__slide swiper-slide">
            <article class="events-card">
              <a class="events-card__top" href="#">
                <img
                  src="images/content/events/1.jpg"
                  alt="Как грамотно использовать модели
                от поставщиков?"
                />
              </a>
              <div class="events-card__body">
                <h3 class="events-card__title">
                  <a href="#">
                    Как грамотно использовать модели от поставщиков?</a
                  >
                </h3>
                <span class="events-card__badge badge badge--webinar">
                  Вебинар
                </span>
                <p class="events-card__date">
                  24 февраля 2022 | Четверг 11:00 (МСК)
                </p>
              </div>
            </article>
          </li>
          <li class="events__slide swiper-slide">
            <article class="events-card">
              <a class="events-card__top" href="#">
                <img
                  src="images/content/events/2.jpg"
                  alt="Как грамотно использовать модели
                  от поставщиков?"
                />
              </a>
              <div class="events-card__body">
                <h3 class="events-card__title">
                  <a href="#">
                    Как грамотно использовать модели
                    от поставщиков?</a
                  >
                </h3>
                <span class="events-card__badge badge badge--webinar">
                  Вебинар
                </span>
                <p class="events-card__date">
                  24 февраля 2022 | Четверг 11:00 (МСК)
                </p>
              </div>
            </article>
          </li>
          <li class="events__slide swiper-slide">
            <article class="events-card">
              <a class="events-card__top" href="#">
                <img
                  src="images/content/events/3.jpg"
                  alt="Как грамотно использовать модели
                от поставщиков?"
                />
              </a>
              <div class="events-card__body">
                <h3 class="events-card__title">
                  <a href="#">
                    Как грамотно использовать модели от поставщиков?</a
                  >
                </h3>
                <span class="events-card__badge badge badge--webinar">
                  Вебинар
                </span>
                <p class="events-card__date">
                  24 февраля 2022 | Четверг 11:00 (МСК)
                </p>
              </div>
            </article>
          </li>
          <li class="events__slide swiper-slide">
            <article class="events-card">
              <a class="events-card__top" href="#">
                <img
                  src="images/content/events/1.jpg"
                  alt="Как грамотно использовать модели
                от поставщиков?"
                />
              </a>
              <div class="events-card__body">
                <h3 class="events-card__title">
                  <a href="#">
                    Как грамотно использовать модели от поставщиков?</a
                  >
                </h3>
                <span class="events-card__badge badge badge--webinar">
                  Вебинар
                </span>
                <p class="events-card__date">
                  24 февраля 2022 | Четверг 11:00 (МСК)
                </p>
              </div>
            </article>
          </li>
          <li class="events__slide swiper-slide">
            <article class="events-card">
              <a class="events-card__top" href="#">
                <img
                  src="images/content/events/2.jpg"
                  alt="Как грамотно использовать модели
                  от поставщиков?"
                />
              </a>
              <div class="events-card__body">
                <h3 class="events-card__title">
                  <a href="#">
                    Как грамотно использовать модели
                    от поставщиков?</a
                  >
                </h3>
                <span class="events-card__badge badge badge--webinar">
                  Вебинар
                </span>
                <p class="events-card__date">
                  24 февраля 2022 | Четверг 11:00 (МСК)
                </p>
              </div>
            </article>
          </li>
          <li class="events__slide swiper-slide">
            <article class="events-card">
              <a class="events-card__top" href="#">
                <img
                  src="images/content/events/3.jpg"
                  alt="Как грамотно использовать модели
                от поставщиков?"
                />
              </a>
              <div class="events-card__body">
                <h3 class="events-card__title">
                  <a href="#">
                    Как грамотно использовать модели от поставщиков?</a
                  >
                </h3>
                <span class="events-card__badge badge badge--webinar">
                  Вебинар
                </span>
                <p class="events-card__date">
                  24 февраля 2022 | Четверг 11:00 (МСК)
                </p>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
      <div class="events__arrows">
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
      </div>
    </div>
  </div>
</section>
