<section class="events-page">
  <div class="container">
    <h2 class="visually-hidden">Список новостей</h2>
    <div class="events-page__top">
      <div class="events-page__text">
        <p>
          Приглашаем Вас принять участие в событиях Connective PLM, которые
          помогут Вам разобраться в новейших технологиях для промышленных
          предприятий, а также повысить эффективность Вашей компании. Раз в
          месяц мы рассылаем электронный журнал нашим подписчикам, где в удобном
          структурированном виде публикуем свежие видео-стримы, статьи и анонсы
          событий.
        </p>
      </div>

      <div class="events-page__actions">
        <ul class="events-page__top-list">
          <li class="events-page__top-item">
            <button
              class="events-page__top-btn"
              type="button"
              data-filter="all"
            >
              Все
            </button>
          </li>
          <li class="events-page__top-item">
            <button
              class="events-page__top-btn"
              type="button"
              data-filter=".coming"
            >
              Предстоящие
            </button>
          </li>
          <li class="events-page__top-item">
            <button
              class="events-page__top-btn"
              type="button"
              data-filter=".completed"
            >
              Завершенные
            </button>
          </li>
        </ul>
        <select class="events-page__select select">
          <option value="">Выберите дату мероприятия</option>
          <option value="1">Не все новости</option>
          <option value="2">Почти все новости</option>
        </select>
      </div>
    </div>

    <ul class="events-page__list">
      <li class="events-page__item mix coming">
        <article class="events-card">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/events/1.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#"> Как грамотно использовать модели от поставщиков?</a>
            </h3>

            <p class="events-card__date">
              24 февраля 2022 | Четверг 11:00 (МСК)
            </p>
          </div>
        </article>
      </li>
      <li class="events-page__item mix coming">
        <article class="events-card">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/events/2.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#"> Как грамотно использовать модели от поставщиков?</a>
            </h3>

            <p class="events-card__date">
              24 февраля 2022 | Четверг 11:00 (МСК)
            </p>
          </div>
        </article>
      </li>
      <li class="events-page__item mix completed">
        <article class="events-card">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/events/3.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#"> Как грамотно использовать модели от поставщиков?</a>
            </h3>

            <p class="events-card__date">
              24 февраля 2022 | Четверг 11:00 (МСК)
            </p>
          </div>
        </article>
      </li>
      <li class="events-page__item mix coming">
        <article class="events-card">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/events/4.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#"> Как грамотно использовать модели от поставщиков?</a>
            </h3>

            <p class="events-card__date">
              24 февраля 2022 | Четверг 11:00 (МСК)
            </p>
          </div>
        </article>
      </li>
      <li class="events-page__item mix coming">
        <article class="events-card">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/events/5.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#"> Как грамотно использовать модели от поставщиков?</a>
            </h3>

            <p class="events-card__date">
              24 февраля 2022 | Четверг 11:00 (МСК)
            </p>
          </div>
        </article>
      </li>
      <li class="events-page__item mix completed">
        <article class="events-card">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/events/6.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#"> Как грамотно использовать модели от поставщиков?</a>
            </h3>

            <p class="events-card__date">
              24 февраля 2022 | Четверг 11:00 (МСК)
            </p>
          </div>
        </article>
      </li>
      <li class="events-page__item mix completed">
        <article class="events-card">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/events/1.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#"> Как грамотно использовать модели от поставщиков?</a>
            </h3>

            <p class="events-card__date">
              24 февраля 2022 | Четверг 11:00 (МСК)
            </p>
          </div>
        </article>
      </li>
      <li class="events-page__item mix coming">
        <article class="events-card">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/events/2.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#"> Как грамотно использовать модели от поставщиков?</a>
            </h3>

            <p class="events-card__date">
              24 февраля 2022 | Четверг 11:00 (МСК)
            </p>
          </div>
        </article>
      </li>
      <li class="events-page__item mix coming">
        <article class="events-card">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/events/3.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#"> Как грамотно использовать модели от поставщиков?</a>
            </h3>

            <p class="events-card__date">
              24 февраля 2022 | Четверг 11:00 (МСК)
            </p>
          </div>
        </article>
      </li>
      <li class="events-page__item mix coming">
        <article class="events-card">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/events/4.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#"> Как грамотно использовать модели от поставщиков?</a>
            </h3>

            <p class="events-card__date">
              24 февраля 2022 | Четверг 11:00 (МСК)
            </p>
          </div>
        </article>
      </li>
      <li class="events-page__item mix completed">
        <article class="events-card">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/events/5.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#"> Как грамотно использовать модели от поставщиков?</a>
            </h3>

            <p class="events-card__date">
              24 февраля 2022 | Четверг 11:00 (МСК)
            </p>
          </div>
        </article>
      </li>
      <li class="events-page__item mix completed">
        <article class="events-card">
          <span class="events-card__badge badge badge--webinar"> Вебинар </span>
          <a class="events-card__top" href="#">
            <img
              src="images/content/events/6.jpg"
              alt="Как грамотно использовать модели
            от поставщиков?"
            />
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#"> Как грамотно использовать модели от поставщиков?</a>
            </h3>

            <p class="events-card__date">
              24 февраля 2022 | Четверг 11:00 (МСК)
            </p>
          </div>
        </article>
      </li>
    </ul>

    <div class="events-page__bottom">
      <div class="events-page__pagination pagination">
        <ul class="pagination__list">
          <li class="pagination__item">
            <a class="pagination__link pagination__link--active" href="#">1</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">2</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">3</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">4</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">5</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link pagination__link--further" href="#"
              >Далеее</a
            >
          </li>
        </ul>
      </div>

      <a class="events-page__btn btn btn--transparent" href="#"
        >Загрузить еще</a
      >
    </div>
  </div>
</section>
