<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__col">
        <span class="footer__name">Програмные решения</span>

        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">
              Система управления интеллектуальной собственностью предприятия
              (PLM)</a
            >
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Конструкторское проектирование</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"
              >Разработка управляющих программ для станков с ЧПУ</a
            >
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Програмирование роботов</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"
              >Лабораторные измерительные системы (LIMS)</a
            >
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Вычислительное моделирование</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Проектирование турбомашин</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Цифровой двойник предприятия</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <span class="footer__name">Програмные решения</span>

        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#"> Комплксная автоматизация КТПП </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"
              >Постановка процессов планирования производства
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"
              >Постановка методик проектирования
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"
              >Постановка методик вычеслительного моделирования
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Разработка технологических процессов для становков с ЧПУ и
              роботов</a
            >
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"
              >Разработка постпроцессоров для станков с ЧПУ и роботов
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <span class="footer__name">Производственное оборудование</span>

        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Станки с ЧПУ</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Станки лазерного раскроя метала</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Режущий инструмент</a>
          </li>
        </ul>

        <a class="footer__phone" href="tel:+78123131810">8 (812) 313-18-10</a>

        <button class="footer__btn btn" type="button">Заказать звонок</button>

        <address class="footer__address">
          Санкт-Петербург, Кондратьевский пр-кт, д.15, к.2, <br />
          лит.З, офис 301
        </address>
      </div>
    </div>

    <div class="footer__bottom">
      <a class="logo" href="#">
        <img src="images/logo-white.png" alt="логотип" />
      </a>
      <div class="footer__text">
        <div class="footer__text-wrap">
          <p>ООО «КОННЕКТИВ ПЛМ»</p>
          <p>ИНН:7804659283, КПП:780401001 ОГРН:119784720308</p>
        </div>
        <div class="footer__links">
          <a class="footer__link" href="#">Политика конфиденциальности</a>
          <a class="footer__link" href="#">Оферта</a>
        </div>
      </div>

      <a
        class="footer__link footer__link--mail"
        href="mailto:contact@connective-plm.com"
      >
        contact@connective-plm.com
      </a>
    </div>
  </div>
</footer>
