<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <div class="header__menu top-menu">
          <ul class="top-menu__list">
            <li class="top-menu__item">
              <a class="top-menu__link" href="#">Новости</a>
            </li>
            <li class="top-menu__item">
              <a class="top-menu__link" href="#">Мероприятия</a>
            </li>
            <li class="top-menu__item">
              <a class="top-menu__link" href="#">Обучение</a>
            </li>
            <li class="top-menu__item">
              <a class="top-menu__link" href="#">Проекты</a>
            </li>
          </ul>
        </div>

        <div class="header__items">
          <address class="header__item header__item--location">
            Санкт-Петербург, Кондратьевский пр-кт, д.15, к.2, лит.З, офис 301
          </address>
          <a
            class="header__item header__item--mail"
            href="mailto:contact@connective-plm.com"
          >
            contact@connective-plm.com
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-inner">
        <a class="header__logo" href="#">
          <img src="images/logo.png" alt="Логотип" />
        </a>

        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link menu__link--dropdown" href="#"
                >Программные решения</a
              >

              <div class="dropmenu dropmenu--left">
                <ul class="dropmenu__list">
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Диваны</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Кресла</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Столы и стулья</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Мебель для сада</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Кровати</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Модульные гостиные</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Стенки</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Шкафы</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Кухни</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Тумбы и комоды</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Мебель для ванной</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Прихожие</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Услуги</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Производственное оборудование</a>
            </li>
            <li class="menu__item">
              <a class="menu__link menu__link--dropdown" href="#">
                О компании
              </a>

              <div class="dropmenu">
                <ul class="dropmenu__list">
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#"> Мягкая мебель</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#"> Мягкая мебель</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>

        <div class="header__tools">
          <a class="header__phone" href="tel:+78125619668">8 (812) 561-96-68</a>
          <button class="header__btn btn" type="button">Заказать звонок</button>
          <button class="header__btn-support btn btn--transparent"></button>
        </div>
      </div>
    </div>
  </div>
</header>
