<section
  class="hero hero--news"
  style="background-image: url('images/content/hero/hero-about.jpg')"
>
  <div class="hero__nav">
    <button class="header__toggle" type="button" aria-label="Открыть меню">
      <span class="header__toggle-line"></span>
    </button>
    <div class="hero-nav__wrapper">
      <div class="contacts__socials socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a class="socials__link socials__link--whatsapp" href="#"
              ><span>WhatsApp</span></a
            >
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--telegram" href="#"
              ><span>Telegram</span></a
            >
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--vk" href="#"
              ><span>Vkontakte</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="hero__wrapper swiper">
    <div class="container">
      <div class="hero__offer">
        <h2 class="hero__title">
          <span> Connective </span> <br />
          PLM Club
        </h2>
        <div class="hero__text">
          <p>
            Сообщество менеджмента и владельцев производственных компаний,
            заинтересованных в ведении бизнеса с применением методов и подходов
            управления жизненным циклом продукции.
          </p>
          <p class="color-white">
            Станьте частью сообщества, и развивайте российскую промышленность
            вместе с единомышленниками
          </p>
        </div>

        <button class="hero__btn btn" type="button">ВСТУПИТЬ В PLM CLUB</button>
      </div>
    </div>
  </div>
</section>
