<section
  class="hero hero--news"
  style="background-image: url('images/content/hero/hero-blog.jpg')"
>
  <div class="hero__nav">
    <button class="header__toggle" type="button" aria-label="Открыть меню">
      <span class="header__toggle-line"></span>
    </button>
    <div class="hero-nav__wrapper">
      <div class="contacts__socials socials">
        <ul class="socials__list socials__list--blog">
          <li class="socials__item">
            <a class="socials__link socials__link--whatsapp" href="#"
              ><span>WhatsApp</span></a
            >
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--telegram" href="#"
              ><span>Telegram</span></a
            >
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--vk" href="#"
              ><span>Vkontakte</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="hero__wrapper swiper">
    <div class="container">
      <div class="hero__offer">
        <h2 class="hero__title"><span> Блог </span></h2>
        <p class="hero__text">
          О новейших технологиях для промышленных <br />
          предприятий.
        </p>

        <form class="hero__form form-submit">
          <p class="form-submit__text">
            Раз в месяц мы рассылаем электронный журнал, где <br />
            в удобном структурированном виде публикуем свежие <br />
            видео-стримы, статьи и анонсы событий.
          </p>
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="email"
              placeholder="Введите Ваш e-mail"
            />
            <button
              class="form-submit__arrow"
              type="submit"
              aria-label="Отправить"
            ></button>
            <span class="form-submit__line"></span>
          </label>
        </form>
      </div>
    </div>
  </div>
</section>
