<section
  class="hero hero--news"
  style="background-image: url('images/content/hero/hero-news.jpg')"
>
  <div class="hero__nav">
    <button class="header__toggle" type="button" aria-label="Открыть меню">
      <span class="header__toggle-line"></span>
    </button>
    <div class="hero-nav__wrapper">
      <div class="contacts__socials socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a class="socials__link socials__link--whatsapp" href="#"
              ><span>WhatsApp</span></a
            >
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--telegram" href="#"
              ><span>Telegram</span></a
            >
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--vk" href="#"
              ><span>Vkontakte</span></a
            >
          </li>
        </ul>
      </div>
    </div>
    <a class="hero__nav-mail" href="#" aria-label="Написать нам"></a>
  </div>
  <div class="hero__wrapper swiper">
    <div class="container">
      <div class="hero__offer">
        <h2 class="hero__title">
          <span> Новости </span> <br />
          отрасли
        </h2>
        <p class="hero__text">Новости нашей отрасли в компании и мире.</p>

        <form class="hero__form form-submit">
          <p class="form-submit__text">Оставайтесь всегда в курсе новостей нашей отрасли.</p>
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="email"
              placeholder="Введите Ваш e-mail"
            />
            <span class="form-submit__line"></span>
          </label>
        </form>
      </div>
    </div>
  </div>
</section>
