<section class="hero hero--main">
  <div class="hero__wrapper">
    <div class="hero__nav">
      <button class="header__toggle" type="button" aria-label="Открыть меню">
        <span class="header__toggle-line"></span>
      </button>
      <div class="hero-nav__wrapper">
        <div class="contacts__socials socials">
          <ul class="socials__list">
            <li class="socials__item">
              <a class="socials__link socials__link--whatsapp" href="#"
                ><span>WhatsApp</span></a
              >
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--telegram" href="#"
                ><span>Telegram</span></a
              >
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--vk" href="#"
                ><span>Vkontakte</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hero__slider swiper">
      <ul class="hero__slides swiper-wrapper">
        <li
          class="hero__slide swiper-slide"
          style="background-image: url('images/content/hero/main.jpg')"
        >
          <div class="container">
            <div class="hero__offer">
              <h2 class="hero__title">
                <span>
                  Цифровая <br />
                  экосистема <br />
                </span>
                вашего бизнеса
              </h2>
              <p class="hero__text">
                Создаем и реализуем концепции <br />
                цифровизации бизнеса производственных компаний
              </p>
              <a class="hero__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li
          class="hero__slide swiper-slide"
          style="background-image: url('images/content/hero/main.jpg')"
        >
          <div class="container">
            <div class="hero__offer">
              <h2 class="hero__title">
                <span>
                  Цифровая <br />
                  экосистема <br />
                </span>
                вашего бизнеса
              </h2>
              <p class="hero__text">
                Создаем и реализуем концепции цифровизации бизнеса
                производственных компаний
              </p>
              <a class="hero__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li
          class="hero__slide swiper-slide"
          style="background-image: url('images/content/hero/main.jpg')"
        >
          <div class="container">
            <div class="hero__offer">
              <h2 class="hero__title">
                <span>
                  Цифровая <br />
                  экосистема <br />
                </span>
                вашего бизнеса
              </h2>
              <p class="hero__text">
                Создаем и реализуем концепции цифровизации бизнеса
                производственных компаний
              </p>
              <a class="hero__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li
          class="hero__slide swiper-slide"
          style="background-image: url('images/content/hero/main.jpg')"
        >
          <div class="container">
            <div class="hero__offer">
              <h2 class="hero__title">
                <span>
                  Цифровая <br />
                  экосистема <br />
                </span>
                вашего бизнеса
              </h2>
              <p class="hero__text">
                Создаем и реализуем концепции цифровизации бизнеса
                производственных компаний
              </p>
              <a class="hero__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li
          class="hero__slide swiper-slide"
          style="background-image: url('images/content/hero/main.jpg')"
        >
          <div class="container">
            <div class="hero__offer">
              <h2 class="hero__title">
                <span>
                  Цифровая <br />
                  экосистема <br />
                </span>
                вашего бизнеса
              </h2>
              <p class="hero__text">
                Создаем и реализуем концепции цифровизации бизнеса
                производственных компаний
              </p>
              <a class="hero__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </li>
      </ul>

      <div class="swiper-pagination"></div>
      <div class="hero__arrows">
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>
