<section
  class="hero hero--news hero--404"
  style="background-image: url('images/content/hero/hero-404.jpg')"
>
  <div class="hero__nav">
    <button class="header__toggle" type="button" aria-label="Открыть меню">
      <span class="header__toggle-line"></span>
    </button>
    <div class="hero-nav__wrapper">
      <div class="contacts__socials socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a class="socials__link socials__link--whatsapp" href="#"
              ><span>WhatsApp</span></a
            >
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--telegram" href="#"
              ><span>Telegram</span></a
            >
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--vk" href="#"
              ><span>Vkontakte</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="hero__wrapper swiper">
    <div class="container">
      <div class="hero__offer">
        <h2 class="hero__title"><span> 404 </span></h2>
        <div class="hero__text">
          <p>
            Эта страница находится в разработке <br />
            или ее не существует
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
