<section class="invite">
  <div class="container">
    <div class="invite__top">
      <h2 class="invite__title">
        Приглашаем специалистов, топ-менеджеров и руководителей предприятий в
        наш клуб
      </h2>
      <div class="invite__text">
        <p>
          Встречи проходят один раз в месяц в Москве и Санкт-Петербурге.
          Участники обсуждают актуальные вопросы управления современным
          предприятием, бизнес-процессы компаний. Делятся опытом и знаниями.
          Наша цель - сформировать сообщество желающих развивать российскую
          промышленность и идеи цифровизации на предприятиях.
        </p>
      </div>
    </div>

    <ul class="invite__list">
      <li class="invite-item">
        <div
          class="invite-item__preview invite-item__preview--first"
          style="background-image: url('images/content/invite/1.jpg')"
        ></div>
        <div class="invite-item__info">
          <p>
            <span>Мы, как центр компетенции по PLM</span>, выступаем в качестве
            организатора встреч. Каждая встреча посвящена определенной теме,
            которую мы заранее анонсируем в личных приглашениях, рассылаемых
            участникам. В качестве докладчика может выступить каждый участник
            PLM Club.
          </p>
          <p>
            Формат регулярных мероприятий PLM Club — вечерние встречи «без
            галстуков", на которых участники могут в приятной атмосфере
            пообщаться с коллегами, поучаствовать в интересной дискуссии.
          </p>
        </div>
      </li>
      <li class="invite-item invite-item--reverse">
        <div
          class="invite-item__preview invite-item__preview--second"
          style="background-image: url('images/content/invite/2.jpg')"
        ></div>
        <div class="invite-item__info">
          <p>
            Локализация PLM Club — Санкт-Петербург, Москва. Желающие
            присоединиться ко встречам в других городах могут смотреть
            онлайн-трансляции докладов на <a href="#">youtube-канале</a> Connective PLM.
            
            <p>В перспективе мы планируем организовать PLM Club в других
              городах России. Если Вы хотите стать одним из организаторов,
              то присылайте Ваше предложение на почту
              <a href="mailto:a.churbanova@connective-plm.ru.">a.churbanova@connective-plm.ru.</a> Участие бесплатное.
              Продолжительность 2 часа.</p>
          </p>
         
        </div>
      </li>
    </ul>
  </div>
</section>
