<section class="involves">
  <div class="container">
    <div class="involves__wrapper">
      <div class="involves__left">
        <h2 class="involves__title">
          Какие консалтинговые мероприятия подразумевает консультирование
        </h2>
        <div class="involves__text">
          <p>
            Благодаря юридическим консультациям появляется возможность
            пересмотреть организацию собственного дела, выявить ее сильные и
            слабые стороны, а также риски.
          </p>
        </div>

        <div class="involves__preview">
          <div
            class="involves__preview-img"
            style="background-image: url('images/content/involves.jpg')"
          ></div>
        </div>
      </div>
      <div class="involves__right">
        <ul class="involves__list">
          <li class="involves__item">
            <span>Консультации</span> - как увеличить продажи в Москве;
          </li>
          <li class="involves__item">
            <span>Помощь</span> по формированию бизнеса;
          </li>
          <li class="involves__item">
            <span>Разработка бизнес-планов</span>, помощь в управлении
            предприятиями,
          </li>
          <li class="involves__item">
            <span>Контролирование и оценивание</span> эффективности деятельности
            организации;
          </li>
          <li class="involves__item">
            <span>Консультации</span> – как снизить себестоимость продукта;
          </li>
          <li class="involves__item">
            <span>Консультации</span> – как снизить стоимость ресурсов;
          </li>
          <li class="involves__item">
            <span>Консультации</span> – как увеличить производительность
            организации.
          </li>
        </ul>

        <div class="involves__text involves__text--pl">
          <p>
            Регулярное посещение консалтинговых консультаций позволит
            оптимизировать все рабочие процессы, разработать современные
            инструменты и виды управления предприятием, которые станут
            постоянными в деятельности компании.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
