<section class="news">
  <div class="container">
    <h2 class="visually-hidden">Список новостей</h2>
    <div class="news__top">
      <span class="news__name">Выберите направления</span>
      <select class="news__select select">
        <option value="">Все новости</option>
        <option value="1">Не все новости</option>
        <option value="2">Почти все новости</option>
      </select>
    </div>

    <ul class="news__list">
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__top" href="#">
            <img
              src="images/content/news/1.jpg"
              alt="На Марсе зафиксированы сильнейшие
                с момента наблюдения зондом NASA InSight
                марсотрясения"
            />
          </a>
          <div class="news-card__body">
            <p class="news-card__date">26.04.2022 | 16:00</p>
            <h3 class="news-card__title">
              <a href="#">
                На Марсе зафиксированы сильнейшие с момента наблюдения зондом
                NASA InSight марсотрясения
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__top" href="#">
            <img
              src="images/content/news/2.jpg"
              alt="Характеристики смартфона Vivo iQOO Z6
                Pro 5G раскрыты за несколько дней
                до анонса"
            />
          </a>
          <div class="news-card__body">
            <p class="news-card__date">26.04.2022 | 16:00</p>
            <h3 class="news-card__title">
              <a href="#">
                Характеристики смартфона Vivo iQOO Z6 Pro 5G раскрыты за
                несколько дней до анонса
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__top" href="#">
            <img
              src="images/content/news/3.jpg"
              alt="Samsung близка к тому, чтобы стать
                поставщиком подложек для процессоров
                Apple M2"
            />
          </a>
          <div class="news-card__body">
            <p class="news-card__date">26.04.2022 | 16:00</p>
            <h3 class="news-card__title">
              <a href="#">
                Samsung близка к тому, чтобы стать поставщиком подложек для
                процессоров Apple M2
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__top" href="#">
            <img
              src="images/content/news/4.jpg"
              alt="На Марсе зафиксированы сильнейшие
                с момента наблюдения зондом NASA InSight
                марсотрясения"
            />
          </a>
          <div class="news-card__body">
            <p class="news-card__date">26.04.2022 | 16:00</p>
            <h3 class="news-card__title">
              <a href="#">
                На Марсе зафиксированы сильнейшие с момента наблюдения зондом
                NASA InSight марсотрясения
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__top" href="#">
            <img
              src="images/content/news/5.jpg"
              alt="Характеристики смартфона Vivo iQOO Z6
                Pro 5G раскрыты за несколько дней
                до анонса"
            />
          </a>
          <div class="news-card__body">
            <p class="news-card__date">26.04.2022 | 16:00</p>
            <h3 class="news-card__title">
              <a href="#">
                Характеристики смартфона Vivo iQOO Z6 Pro 5G раскрыты за
                несколько дней до анонса
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__top" href="#">
            <img
              src="images/content/news/6.jpg"
              alt="Samsung близка к тому, чтобы стать
                поставщиком подложек для процессоров
                Apple M2"
            />
          </a>
          <div class="news-card__body">
            <p class="news-card__date">26.04.2022 | 16:00</p>
            <h3 class="news-card__title">
              <a href="#">
                Samsung близка к тому, чтобы стать поставщиком подложек для
                процессоров Apple M2
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__top" href="#">
            <img
              src="images/content/news/1.jpg"
              alt="На Марсе зафиксированы сильнейшие
                с момента наблюдения зондом NASA InSight
                марсотрясения"
            />
          </a>
          <div class="news-card__body">
            <p class="news-card__date">26.04.2022 | 16:00</p>
            <h3 class="news-card__title">
              <a href="#">
                На Марсе зафиксированы сильнейшие с момента наблюдения зондом
                NASA InSight марсотрясения
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__top" href="#">
            <img
              src="images/content/news/2.jpg"
              alt="Характеристики смартфона Vivo iQOO Z6
                Pro 5G раскрыты за несколько дней
                до анонса"
            />
          </a>
          <div class="news-card__body">
            <p class="news-card__date">26.04.2022 | 16:00</p>
            <h3 class="news-card__title">
              <a href="#">
                Характеристики смартфона Vivo iQOO Z6 Pro 5G раскрыты за
                несколько дней до анонса
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__top" href="#">
            <img
              src="images/content/news/3.jpg"
              alt="Samsung близка к тому, чтобы стать
                поставщиком подложек для процессоров
                Apple M2"
            />
          </a>
          <div class="news-card__body">
            <p class="news-card__date">26.04.2022 | 16:00</p>
            <h3 class="news-card__title">
              <a href="#">
                Samsung близка к тому, чтобы стать поставщиком подложек для
                процессоров Apple M2
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__top" href="#">
            <img
              src="images/content/news/4.jpg"
              alt="На Марсе зафиксированы сильнейшие
                с момента наблюдения зондом NASA InSight
                марсотрясения"
            />
          </a>
          <div class="news-card__body">
            <p class="news-card__date">26.04.2022 | 16:00</p>
            <h3 class="news-card__title">
              <a href="#">
                На Марсе зафиксированы сильнейшие с момента наблюдения зондом
                NASA InSight марсотрясения
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__top" href="#">
            <img
              src="images/content/news/5.jpg"
              alt="Характеристики смартфона Vivo iQOO Z6
                Pro 5G раскрыты за несколько дней
                до анонса"
            />
          </a>
          <div class="news-card__body">
            <p class="news-card__date">26.04.2022 | 16:00</p>
            <h3 class="news-card__title">
              <a href="#">
                Характеристики смартфона Vivo iQOO Z6 Pro 5G раскрыты за
                несколько дней до анонса
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__top" href="#">
            <img
              src="images/content/news/6.jpg"
              alt="Samsung близка к тому, чтобы стать
                поставщиком подложек для процессоров
                Apple M2"
            />
          </a>
          <div class="news-card__body">
            <p class="news-card__date">26.04.2022 | 16:00</p>
            <h3 class="news-card__title">
              <a href="#">
                Samsung близка к тому, чтобы стать поставщиком подложек для
                процессоров Apple M2
              </a>
            </h3>
          </div>
        </article>
      </li>
    </ul>
    <div class="news__bottom">
      <div class="news__pagination pagination">
        <ul class="pagination__list">
          <li class="pagination__item">
            <a class="pagination__link pagination__link--active" href="#">1</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">2</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">3</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">4</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">5</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link pagination__link--further" href="#"
              >Далеее</a
            >
          </li>
        </ul>
      </div>

      <a class="news__btn btn btn--transparent" href="#"
        >Загрузить еще</a
      >
    </div>
  </div>
</section>
