<section class="numbers numbers--with-title">
  <div class="container">
    <h2 class="numbers__title">
      Почему рейтстеп <br />
      стоит доверить нам?
    </h2>

    <ul class="numbers__list">
      <li class="numbers-item">
        <div class="numbers-item__top">
          <div class="numbers-item__icon">
            <img src="images/content/numbers/1.png" alt="Опыт" />
          </div>
          <p class="numbers-item__number">12 лет</p>
        </div>
        <div class="numbers-item__bottom">
          <p>Connective PLM успешно реализует проекты на Российском рынке</p>
        </div>
      </li>
      <li class="numbers-item">
        <div class="numbers-item__top">
          <div class="numbers-item__icon">
            <img src="images/content/numbers/2.png" alt="Рост компании" />
          </div>
          <p class="numbers-item__number">70%</p>
        </div>
        <div class="numbers-item__bottom">
          <p>Ежегодный рост компании за все годы существования</p>
        </div>
      </li>
      <li class="numbers-item">
        <div class="numbers-item__top">
          <div class="numbers-item__icon">
            <img
              src="images/content/numbers/3.png"
              alt="реализованных проектов"
            />
          </div>
          <p class="numbers-item__number">20+</p>
        </div>
        <div class="numbers-item__bottom">
          <p>
            Более 20 реализованных проектов внедрения PLM решений для компаний
            крупного и среднего бизнеса
          </p>
        </div>
      </li>
      <li class="numbers-item">
        <div class="numbers-item__top">
          <div class="numbers-item__icon">
            <img src="images/content/numbers/4.png" alt="Место на рынке" />
          </div>
          <p class="numbers-item__number">№1</p>
        </div>
        <div class="numbers-item__bottom">
          <p>
            Первая облачная PLM платформа в России, созданная в партнерстве с
            Яндекс и SDIS
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
