<section class="our-cases">
  <div class="container">
    <div class="our-cases__top">
      <h2 class="our-cases__title">Наши кейсы по станкам с ЧПУ</h2>

      <a class="our-cases__btn btn" href="#">Все проекты</a>
    </div>

    <div class="our-cases__content">
      <div class="our-cases__slider swiper">
        <ul class="our-cases__slides swiper-wrapper">
          <li class="our-cases__slide swiper-slide">
            <article
              class="catalog-card catalog-card--no-link"
              style="background-image: url(images/content/our-cases/1.jpg)"
            >
              <h3 class="catalog-card__title">Планшетный режущий плоттер</h3>
              <a class="catalog-card__link" href="#"></a>
            </article>
          </li>
          <li class="our-cases__slide swiper-slide">
            <article
              class="catalog-card catalog-card--no-link"
              style="background-image: url(images/content/our-cases/2.jpg)"
            >
              <h3 class="catalog-card__title">
                Настольный фрезерный станок с ЧПУ
              </h3>
              <a class="catalog-card__link" href="#"></a>
            </article>
          </li>
          <li class="our-cases__slide swiper-slide">
            <article
              class="catalog-card catalog-card--no-link"
              style="background-image: url(images/content/our-cases/3.jpg)"
            >
              <h3 class="catalog-card__title">Станок плазменной резки с ЧПУ</h3>
              <a class="catalog-card__link" href="#"></a>
            </article>
          </li>
          <li class="our-cases__slide swiper-slide">
            <article
              class="catalog-card catalog-card--no-link"
              style="background-image: url(images/content/our-cases/1.jpg)"
            >
              <h3 class="catalog-card__title">Планшетный режущий плоттер</h3>
              <a class="catalog-card__link" href="#"></a>
            </article>
          </li>
          <li class="our-cases__slide swiper-slide">
            <article
              class="catalog-card catalog-card--no-link"
              style="background-image: url(images/content/our-cases/2.jpg)"
            >
              <h3 class="catalog-card__title">
                Настольный фрезерный станок с ЧПУ
              </h3>
              <a class="catalog-card__link" href="#"></a>
            </article>
          </li>
          <li class="our-cases__slide swiper-slide">
            <article
              class="catalog-card catalog-card--no-link"
              style="background-image: url(images/content/our-cases/3.jpg)"
            >
              <h3 class="catalog-card__title">Станок плазменной резки с ЧПУ</h3>
              <a class="catalog-card__link" href="#"></a>
            </article>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
      <div class="our-cases__arrows">
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
      </div>
    </div>
  </div>
</section>
