<section class="our-customers">
  <div class="container">
    <div class="our-customers__wrapper">
      <h2 class="our-customers__title">Наши заказчики</h2>

      <div class="our-customers__slider swiper">
        <ul class="our-customers__slides swiper-wrapper">
          <li class="our-customers__slide swiper-slide">
            <img src="images/content/customers/1.png" alt="1" />
          </li>
          <li class="our-customers__slide swiper-slide">
            <img src="images/content/customers/2.png" alt="1" />
          </li>
          <li class="our-customers__slide swiper-slide">
            <img src="images/content/customers/3.png" alt="1" />
          </li>
          <li class="our-customers__slide swiper-slide">
            <img src="images/content/customers/4.png" alt="1" />
          </li>
          <li class="our-customers__slide swiper-slide">
            <img src="images/content/customers/5.png" alt="1" />
          </li>
          <li class="our-customers__slide swiper-slide">
            <img src="images/content/customers/1.png" alt="1" />
          </li>
          <li class="our-customers__slide swiper-slide">
            <img src="images/content/customers/2.png" alt="1" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
