<section class="planning-system">
  <h2 class="visually-hidden">Системы планирования</h2>

  <div class="container">
    <div class="planning-system__text">
      <p>
        Продукт Connective PLM предназначен для поддержки прогнозирования спроса
        и планирования продаж в рамках процесса Sales and Operations Planning
        (S&OP). Наряду с настроенными моделями прогнозирования система
        Connective PLM даёт возможность интерактивного построения планов продаж
        с участием экспертов, учёта дополнительных факторов влияния, внесения
        корректировок и их согласования между участниками процесса.
      </p>
    </div>

    <ul class="planning-system__list">
      <li class="planning-system__item">
        <article
          class="catalog-card"
          style="background-image: url(images/content/planning-system/1.jpg)"
        >
          <h3 class="catalog-card__title">РЕЙТСТЕП</h3>
          <a class="catalog-card__link" href="#"></a>
        </article>
      </li>
      <li class="planning-system__item">
        <article
          class="catalog-card"
          style="background-image: url(images/content/planning-system/2.jpg)"
        >
          <h3 class="catalog-card__title">Снаряд</h3>
          <a class="catalog-card__link" href="#"></a>
        </article>
      </li>
      <li class="planning-system__item">
        <article
          class="catalog-card"
          style="background-image: url(images/content/planning-system/3.jpg)"
        >
          <h3 class="catalog-card__title">Индасофт</h3>
          <a class="catalog-card__link" href="#"></a>
        </article>
      </li>
    </ul>
  </div>
</section>
