<section class="planning-sales">
  <div class="container">
    <div class="planning-sales__wrapper">
      <div class="planning-sales__offer">
        <h2 class="planning-sales__title">
          Прогнозирование и планирование продаж в одном решении
        </h2>
        <div class="planning-sales__text">
          <p>
            Основная цель использования Connective PLM — это формализация и
            автоматизация процесса построения прогноза спроса, что позволяет
            изменить характер работы аналитиков компании от «подготовки
            прогнозов» к «настройке моделей». Внедрение системы планирования
            продаж и операций поможет сбалансировать спрос и поставки, связать
            финансовые показатели компании с производственными планами и
            реализовать долгосрочную программу планирования производства и
            объема продаж предприятия.
          </p>
        </div>
      </div>

      <div
        class="planning-sales__preview"
        style="background-image: url('images/content/planning-sales.jpg')"
      ></div>
    </div>
  </div>
</section>
