<section class="production-adv">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>

    <ul class="production-adv__list">
      <li class="production-adv-item">
        <div class="production-adv-item__icon">
          <img
            src="images/content/production-adv/1.png"
            alt="Гарантия 18 месяцев"
          />
        </div>
        <h3 class="production-adv-item__title">Гарантия 18 месяцев</h3>
        <div class="production-adv-item__text">
          <p>
            Качественные материалы, оригинальные запчасти, лицензионное ПО на
            русском языке. Комплектующие, расходники и аксессуары всегда в
            наличии.
          </p>
        </div>
      </li>
      <li class="production-adv-item">
        <div class="production-adv-item__icon">
          <img
            src="images/content/production-adv/2.png"
            alt="Гарантия 18 месяцев"
          />
        </div>
        <h3 class="production-adv-item__title">Гибкая политика цен</h3>
        <div class="production-adv-item__text">
          <p>
            Для Вас российский станок отличного качества по адекватной
            стоимости. Убедись в каталоге. Бесплатно предоставим обучение по
            работе на станке.
          </p>
        </div>
      </li>
      <li class="production-adv-item">
        <div class="production-adv-item__icon">
          <img
            src="images/content/production-adv/3.png"
            alt="Гарантия 18 месяцев"
          />
        </div>
        <h3 class="production-adv-item__title">Быстрая окупаемость</h3>
        <div class="production-adv-item__text">
          <p>
            Окупаемость аппарата в зависимости от региональных цен и
            возможностей составляет 2-3 месяца! Только еще мечтаете организовать
            свое дело?
          </p>
        </div>
      </li>
      <li class="production-adv-item">
        <div class="production-adv-item__icon">
          <img
            src="images/content/production-adv/4.png"
            alt="Гарантия 18 месяцев"
          />
        </div>
        <h3 class="production-adv-item__title">Индивидуальная сборка</h3>
        <div class="production-adv-item__text">
          <p>
            Продукция собирается в соответствии с целями вашего бизнеса.
            Сомневаетесь, какой станок выбрать? Звоните, подскажем.
          </p>
        </div>
      </li>
      <li class="production-adv-item">
        <div class="production-adv-item__icon">
          <img
            src="images/content/production-adv/5.png"
            alt="Гарантия 18 месяцев"
          />
        </div>
        <h3 class="production-adv-item__title">Продукция от производителя</h3>
        <div class="production-adv-item__text">
          <p>
            Мы на рынке уже 12 лет. Покупая станки у производителя, Вы всегда
            можете модернизировать свой станок.
          </p>
        </div>
      </li>
      <li class="production-adv-item">
        <div class="production-adv-item__icon">
          <img
            src="images/content/production-adv/6.png"
            alt="Гарантия 18 месяцев"
          />
        </div>
        <h3 class="production-adv-item__title">Сервисный центр</h3>
        <div class="production-adv-item__text">
          <p>
            Замена комплектующих осуществляется в течение 2 рабочих дней. При
            совместных усилиях до 1 дня.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
