<section class="project">
  <div class="container">
    <h2 class="visually-hidden">Карточка проекта</h2>

    <div class="project__top project-top">
      <ul class="project-top__list">
        <li class="project-top__item">
          <div class="project-top__left">Задача</div>
          <div class="project-top__right">
            Повысить доходность прямых каналов коммуникации
          </div>
        </li>
        <li class="project-top__item">
          <div class="project-top__left">Решение</div>
          <div class="project-top__right">
            Автоматизировать рассылки по всему жизненному циклу клиента
          </div>
        </li>
        <li class="project-top__item">
          <div class="project-top__left">Участники</div>
          <div class="project-top__right">
            Генеральный директор Seedspost, менеджеры Mindbox
          </div>
        </li>
        <li class="project-top__item">
          <div class="project-top__left">Результат</div>
          <div class="project-top__right">22,5% выручки приносят рассылки</div>
        </li>
        <li class="project-top__item">
          <div class="project-top__left">ИТ</div>
          <div class="project-top__right">
            Сайт на «Битриксе», 1С, платформа автоматизации маркетинга
          </div>
        </li>
        <li class="project-top__item">
          <div class="project-top__left">Масштаб бизнеса</div>
          <div class="project-top__right">
            397 тысяч клиентов в базе для рассылок
          </div>
        </li>
        <li class="project-top__item">
          <div class="project-top__left">Фишка</div>
          <div class="project-top__right">
            9 сценариев на основе RFM-анализа
          </div>
        </li>
      </ul>
      <div class="project-top__author">
        <article class="author-card">
          <div class="author-card__top">
            <div class="author-card__left">
              <img src="images/content/author.jpg" alt="Вениамин Дмитриев" />
            </div>
            <div class="author-card__right">
              <h3 class="author-card__title">Вениамин Дмитриев</h3>
              <p class="author-card__prof">
                генеральный директор <br />
                Seedspost
              </p>

              <div class="author-card__company">
                <img src="images/content/projects/2.png" alt="company" />
              </div>
            </div>
          </div>
          <div class="author-card__bottom">
            Seedspost — интернет- магазин семян, <br />
            саженцев и других товаров для садоводов.
          </div>
        </article>
      </div>
    </div>

    <div class="project__boxes">
      <article class="project__box">
        <h3 class="project__heading">Описание проекта</h3>
        <div class="project__text">
          <p>
            Раньше у Seedspost не было возможности самим отправлять массовые
            рассылки — приходилось заранее согласовывать план коммуникаций с
            платформой, чтобы они уходили по утвержденному расписанию.
            Триггерные сценарии были ограничены, например, нельзя было выделить
            клиентов, которые покупали семена овощей в течение года. Чтобы
            добиться большей гибкости, генеральный директор Seedspost принял
            решение о переходе на Mindbox. Благодаря тому, что платформа
            позволяет сегментировать клиентов и настраивать рассылки в
            интерфейсе, маркетинг стал более оперативным и персонализированным,
            а доля выручки от рассылок увеличилась с 10 до 22,5%. Эффективность
            email-канала доказали с помощью контрольной группы — исключали часть
            клиентов из коммуникаций, чтобы сравнить результаты.
          </p>
        </div>
      </article>
      <article class="project__box project__box--result">
        <h3 class="project__heading">Результаты автоматизации маркетинга</h3>
        <div class="project__text">
          <p>22,5% — средняя доля выручки email-канала в общей выручке</p>
        </div>

        <div
          class="project__img"
          data-fancybox
          data-src="images/content/result.jpg"
          data-caption="Результаты автоматизации маркетинга"
        >
          <img src="images/content/result.jpg" alt="Результат" />
        </div>
      </article>
      <article class="project__box">
        <h3 class="project__heading">
          Пятая часть всей выручки интернет-магазина — добавленная выручка от
          рассылок, доказанная на тесте с контрольной группой
        </h3>
        <div class="project__text">
          <p>
            Чтобы убедиться в том, что прямой маркетинг действительно генерирует
            добавленную выручку, 5% клиентов, подходящих под условия рассылок,
            исключаются из получателей. Это позволяет достоверно подтвердить,
            что рассылки влияют на поведение клиентов и рост выручки — не
            простое совпадение или сезонное колебание. Контрольную группу
            подключили в апреле 2021 года, статистически достоверный результат
            она начала показывать с сентября 2021 года. Статистическая
            достоверность — 99%.
          </p>
        </div>
      </article>

      <article class="project__box project__box--trigger">
        <h3 class="project__heading">
          Какие триггерные рассылки отправляем в email и SMS
        </h3>
        <div class="project__text">
          <p>
            У Seedspost запущено 13 визуальных сценариев и 39 триггеров.
            Автоматические механики покрывают весь жизненный цикл клиента от
            welcome-цепочки до реактивации. Для общения с клиентами используется
            два канала: email и SMS. Ниже покажем несколько механик. Снижение
            цены на товар из корзины. Сценарий запускается, если хотя бы на один
            товар из корзины цена снизилась на 5%:
          </p>
        </div>
        <div
          class="project__img"
          data-fancybox
          data-src="images/content/trigger.jpg"
          data-caption="Результаты автоматизации маркетинга"
        >
          <img src="images/content/trigger.jpg" alt="trigger" />
        </div>
      </article>
    </div>

    <div class="project__bottom">
      <button class="project__btn btn" type="button">
        ЗАКАЗАТЬ ПОХОЖИЙ ПРОЕКТ
      </button>
    </div>
  </div>
</section>
