<section
  class="ratestep-adv"
  
>
  <div class="container">
    <h2 class="visually-hidden">Преимущевство РЕЙТСТЕПа</h2>

    <ul class="ratestep-adv__list">
      <li class="ratestep-adv-item ratestep-adv-item--economy">
        <div class="ratestep-adv-item__text">
          <p>
            Гибкая настройка рабочего процесса, ролей пользователей и прав
            доступа к системе и данным.
          </p>
        </div>
      </li>
      <li class="ratestep-adv-item ratestep-adv-item--certificate">
        <div class="ratestep-adv-item__text">
          <p>
            Корректировка фактических продаж компании для целей прогнозирования
            спроса
          </p>
        </div>
      </li>
      <li class="ratestep-adv-item ratestep-adv-item--teacher">
        <div class="ratestep-adv-item__text">
          <p>
            Автоматическое прогнозирование продаж компании на основе оптимальных
            математических алгоритмов (алгоритмы выбираются Исполнителем на
            основании анализа данных Заказчика
          </p>
        </div>
      </li>
      <li class="ratestep-adv-item ratestep-adv-item--experience">
        <div class="ratestep-adv-item__text">
          <p>
            В случае если прогнозируются вторичные продажи компании, –
            автоматический расчет прогноза первичных продаж на основе прогноза
            вторичных продаж и нормативных остатков на складах контрагентов
            компании.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
