<section class="services">
  <div class="container">
    <div class="services__top">
      <h2 class="services__title">Полный комплекс услуг</h2>
      <div class="services__text">
        <p>
          Встречи проходят один раз в месяц в Москве и Санкт-Петербурге.
          Участники обсуждают актуальные вопросы управления современным
          предприятием, бизнес-процессы компаний. Делятся опытом и знаниями.
          Наша цель - сформировать сообщество желающих развивать российскую
          промышленность и идеи цифровизации на предприятиях.
        </p>
      </div>
    </div>

    <div class="services__content">
      <div class="services__slider swiper">
        <ul class="services__slides swiper-wrapper">
          <li class="services__slide swiper-slide">
            <article
              class="catalog-card"
              style="background-image: url(images/content/services/1.jpg)"
            >
              <h3 class="catalog-card__title">Бизнес - консалтинг</h3>
              <a class="catalog-card__link" href="#"></a>
            </article>
          </li>
          <li class="services__slide swiper-slide">
            <article
              class="catalog-card"
              style="background-image: url(images/content/services/2.jpg)"
            >
              <h3 class="catalog-card__title">Внедрение решений</h3>
              <a class="catalog-card__link" href="#"></a>
            </article>
          </li>
          <li class="services__slide swiper-slide">
            <article
              class="catalog-card"
              style="background-image: url(images/content/services/3.jpg)"
            >
              <h3 class="catalog-card__title">Обучение</h3>
              <a class="catalog-card__link" href="#"></a>
            </article>
          </li>
          <li class="services__slide swiper-slide">
            <article
              class="catalog-card"
              style="background-image: url(images/content/services/1.jpg)"
            >
              <h3 class="catalog-card__title">Бизнес - консалтинг</h3>
              <a class="catalog-card__link" href="#"></a>
            </article>
          </li>
          <li class="services__slide swiper-slide">
            <article
              class="catalog-card"
              style="background-image: url(images/content/services/2.jpg)"
            >
              <h3 class="catalog-card__title">Внедрение решений</h3>
              <a class="catalog-card__link" href="#"></a>
            </article>
          </li>
          <li class="services__slide swiper-slide">
            <article
              class="catalog-card"
              style="background-image: url(images/content/services/3.jpg)"
            >
              <h3 class="catalog-card__title">Обучение</h3>
              <a class="catalog-card__link" href="#"></a>
            </article>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
      <div class="services__arrows">
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
      </div>
    </div>
  </div>
</section>
