<div class="software-solutions software-solutions--with-select">
  <div class="container">
    <div class="software-solutions__top">
      <div class="software-solutions__name">Выберите отрасль</div>

      <select class="software-solutions__select select">
        <option value="">Все</option>
        <option value="1">Не все</option>
        <option value="2">Почти все</option>
      </select>
    </div>

    <div class="software-solutions__wrapper">
      <div class="software-solutions__cell software-solutions__cell--offer">
        <h2 class="software-solutions__title">
          Специализированные <span>программные решения</span>
        </h2>
        <div class="software-solutions__text">
          <p>
            Для реализации нашей концепции цифровизации мы предлагаем заказчикам
            самые современные программные продукты от компании Siemens Digital
            Industries Software:
          </p>
        </div>
      </div>
      <a class="software-solutions__cell" href="#">
        <p class="software-solutions__descr">
          Управление жизненным циклом продукта (PLM)
        </p>
      </a>
      <a class="software-solutions__cell" href="#">
        <p class="software-solutions__descr">
          Система планирования производства (MRP, APS, MES)
        </p>
      </a>
      <a
        class="software-solutions__cell software-solutions__cell--color-white"
        href="#"
      >
        <p class="software-solutions__descr">
          Контсрукторское <br />
          проектирование
        </p>
      </a>
      <a class="software-solutions__cell" href="#">
        <p class="software-solutions__descr">
          Разработка управляющих программ для станков с ЧПУ
        </p>
      </a>
      <a
        class="software-solutions__cell software-solutions__cell--color-white"
        href="#"
      >
        <p class="software-solutions__descr">
          Програмирование <br />
          роботов
        </p>
      </a>
      <a class="software-solutions__cell" href="#">
        <p class="software-solutions__descr">
          Лабораторные измерительные системы (LIMS)
        </p>
      </a>
      <a class="software-solutions__cell" href="#">
        <p class="software-solutions__descr">
          Вычислительное <br />
          моделирование
        </p>
      </a>
      <a
        class="software-solutions__cell software-solutions__cell--color-white"
        href="#"
      >
        <p class="software-solutions__descr">
          Проектирование <br />
          турбомашин
        </p>
      </a>
      <a class="software-solutions__cell" href="#">
        <p class="software-solutions__descr">Цифровой двойник предприятий</p>
      </a>
      <a
        class="software-solutions__cell software-solutions__cell--color-white"
        href="#"
      >
        <p class="software-solutions__descr">Разработка приложений</p>
      </a>
    </div>
  </div>
</div>
