<div class="software-solutions software-solutions--with-select">
  <div class="container">
    <div class="software-solutions__top">
        <div class="software-solutions__name">Выберите отрасль</div>

        <select class="software-solutions__select select">
          <option value="">Все</option>
          <option value="1">Не все</option>
          <option value="2">Почти все</option>
        </select>
    </div>

    <div class="software-solutions__wrapper">
      <div class="software-solutions__cell software-solutions__cell--offer">
        <h2 class="software-solutions__title">
          Наши специализированные <span>программные решения</span>
        </h2>
        <div class="software-solutions__text">
          <p>
            Для реализации нашей концепции цифровизации мы предлагаем заказчикам
            самые современные программные продукты от компании Siemens Digital
            Industries Software:
          </p>
        </div>
      </div>
      <div
        class="software-solutions__cell software-solutions__cell--color-white"
      >
        <p class="software-solutions__descr">
          Система управления интеллектуальной собственностью предприятия (PLM)
        </p>
      </div>
      <div class="software-solutions__cell">
        <p class="software-solutions__descr">
          Система планирования производства (MRP, APS, MES)
        </p>
      </div>
      <div
        class="software-solutions__cell software-solutions__cell--color-white"
      >
        <p class="software-solutions__descr">
          Разработка управляющих программ для станков с ЧПУ
        </p>
      </div>
      <div class="software-solutions__cell">
        <p class="software-solutions__descr">Програмирование роботов</p>
      </div>
      <div class="software-solutions__cell">
        <p class="software-solutions__descr">Конструкторское проектирование</p>
      </div>
      <div class="software-solutions__cell">
        <p class="software-solutions__descr">
          Лабораторные измерительные системы (LIMS)
        </p>
      </div>
      <div
        class="software-solutions__cell software-solutions__cell--color-white"
      >
        <p class="software-solutions__descr">Вычислительное моделирование</p>
      </div>
      <div class="software-solutions__cell">
        <p class="software-solutions__descr">Проектирование турбомашин</p>
      </div>
      <div
        class="software-solutions__cell software-solutions__cell--color-white"
      >
        <p class="software-solutions__descr">Цифровой двойник предприятия</p>
      </div>
    </div>
  </div>
</div>
