<section class="specialized tabs">
  <div class="container">
    <h2 class="specialized__title">Специализированные решения</h2>

    <div class="specialized__top">
      <ul class="specialized__top-list">
        <li class="specialized__top-item">
          <button
            class="specialized__top-btn tabs-btn tabs-btn--active"
            type="button"
          >
            Комплексное решение для проектирования турбомашин
          </button>
        </li>
        <li class="specialized__top-item">
          <button class="specialized__top-btn tabs-btn" type="button">
            Комплексное решение для проектирования электродвигателей
          </button>
        </li>
        <li class="specialized__top-item">
          <button class="specialized__top-btn tabs-btn" type="button">
            Решение для производств с ЧПУ оборудованием
          </button>
        </li>
        <li class="specialized__top-item">
          <button class="specialized__top-btn tabs-btn" type="button">
            Управление разработкой и производством вариативной продукции
          </button>
        </li>
        <li class="specialized__top-item">
          <button class="specialized__top-btn tabs-btn" type="button">
            Планирование и контроль производственных процессов
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="specialized__content specialized-content--first specialized-content tabs-content active"
  >
    <div class="container">
      <div class="specialized-content__wrapper">
        <div class="specialized-content__left">
          <h3 class="specialized-content__heading">
            Комплексное решение для проектирования турбомашин
          </h3>

          <div class="specialized-content__time">
            <p>Сократит время цикла проектирования турбомашин на 60-70%</p>
          </div>
          <div class="specialized-content__text">
            <p>
              Современный уровень конкуренции среди производителей турбомашин:
              насосов, компрессоров, турбин, вентиляторов, ставит повышенный
              уровень требований к скорости выхода изделий на рынок и
              техническим характеристикам продукции. Заказчик желает получить
              продукт высочайшего качества в короткий срок при сохранении
              адекватной стоимости.
            </p>
          </div>
        </div>
        <div class="specialized-content__img">
          <img src="images/content/specialized.jpg" alt="турбомашина" />
        </div>
        <div class="specialized-content__solution">
          <h3 class="specialized-content__heading">РЕШЕНИЕ:</h3>
          <div class="specialized-content__text">
            <p>
              Компания Connective PLM создала комплекс методологических и
              программных решений, позволяющих производителям турбомашинного
              оборудования создавать конкурентоспособную продукцию качественно и
              в срок, позволяющий сократить время цикла проектирования образца
              продукции на 60-70 процентов по сравнению с традиционным подходом
              и гарантировать конкурентоспособные технические характеристики
              изделий.
            </p>
          </div>
        </div>
      </div>
      <button class="specialized-content__btn btn" type="button">
        У МЕНЯ ПОХОЖИЙ ПРОЕКТ
      </button>
    </div>
  </div>
  <div class="specialized__content specialized-content--second  specialized-content tabs-content">
    <div class="container">
      <div class="specialized-content__wrapper">
        <div class="specialized-content__left">
          <h3 class="specialized-content__heading">
            Комплексное решение для проектирования турбомашин
          </h3>

          <div class="specialized-content__time">
            <p>Сократит время цикла проектирования турбомашин на 60-70%</p>
          </div>
          <div class="specialized-content__text">
            <p>
              Современный уровень конкуренции среди производителей турбомашин:
              насосов, компрессоров, турбин, вентиляторов, ставит повышенный
              уровень требований к скорости выхода изделий на рынок и
              техническим характеристикам продукции. Заказчик желает получить
              продукт высочайшего качества в короткий срок при сохранении
              адекватной стоимости.
            </p>
          </div>
        </div>
        <div class="specialized-content__img">
          <img src="images/content/specialized.jpg" alt="турбомашина" />
        </div>
        <div class="specialized-content__solution">
          <h3 class="specialized-content__heading">РЕШЕНИЕ:</h3>
          <div class="specialized-content__text">
            <p>
              Компания Connective PLM создала комплекс методологических и
              программных решений, позволяющих производителям турбомашинного
              оборудования создавать конкурентоспособную продукцию качественно и
              в срок, позволяющий сократить время цикла проектирования образца
              продукции на 60-70 процентов по сравнению с традиционным подходом
              и гарантировать конкурентоспособные технические характеристики
              изделий.
            </p>
          </div>
        </div>
      </div>
      <button class="specialized-content__btn btn" type="button">
        У МЕНЯ ПОХОЖИЙ ПРОЕКТ
      </button>
    </div>
  </div>
  <div class="specialized__content specialized-content--third  specialized-content tabs-content">
    <div class="container">
      <div class="specialized-content__wrapper">
        <div class="specialized-content__left">
          <h3 class="specialized-content__heading">
            Комплексное решение для проектирования турбомашин
          </h3>

          <div class="specialized-content__time">
            <p>Сократит время цикла проектирования турбомашин на 60-70%</p>
          </div>
          <div class="specialized-content__text">
            <p>
              Современный уровень конкуренции среди производителей турбомашин:
              насосов, компрессоров, турбин, вентиляторов, ставит повышенный
              уровень требований к скорости выхода изделий на рынок и
              техническим характеристикам продукции. Заказчик желает получить
              продукт высочайшего качества в короткий срок при сохранении
              адекватной стоимости.
            </p>
          </div>
        </div>
        <div class="specialized-content__img">
          <img src="images/content/specialized.jpg" alt="турбомашина" />
        </div>
        <div class="specialized-content__solution">
          <h3 class="specialized-content__heading">РЕШЕНИЕ:</h3>
          <div class="specialized-content__text">
            <p>
              Компания Connective PLM создала комплекс методологических и
              программных решений, позволяющих производителям турбомашинного
              оборудования создавать конкурентоспособную продукцию качественно и
              в срок, позволяющий сократить время цикла проектирования образца
              продукции на 60-70 процентов по сравнению с традиционным подходом
              и гарантировать конкурентоспособные технические характеристики
              изделий.
            </p>
          </div>
        </div>
      </div>
      <button class="specialized-content__btn btn" type="button">
        У МЕНЯ ПОХОЖИЙ ПРОЕКТ
      </button>
    </div>
  </div>
  <div class="specialized__content specialized-content--fourth  specialized-content tabs-content">
    <div class="container">
      <div class="specialized-content__wrapper">
        <div class="specialized-content__left">
          <h3 class="specialized-content__heading">
            Комплексное решение для проектирования турбомашин
          </h3>

          <div class="specialized-content__time">
            <p>Сократит время цикла проектирования турбомашин на 60-70%</p>
          </div>
          <div class="specialized-content__text">
            <p>
              Современный уровень конкуренции среди производителей турбомашин:
              насосов, компрессоров, турбин, вентиляторов, ставит повышенный
              уровень требований к скорости выхода изделий на рынок и
              техническим характеристикам продукции. Заказчик желает получить
              продукт высочайшего качества в короткий срок при сохранении
              адекватной стоимости.
            </p>
          </div>
        </div>
        <div class="specialized-content__img">
          <img src="images/content/specialized.jpg" alt="турбомашина" />
        </div>
        <div class="specialized-content__solution">
          <h3 class="specialized-content__heading">РЕШЕНИЕ:</h3>
          <div class="specialized-content__text">
            <p>
              Компания Connective PLM создала комплекс методологических и
              программных решений, позволяющих производителям турбомашинного
              оборудования создавать конкурентоспособную продукцию качественно и
              в срок, позволяющий сократить время цикла проектирования образца
              продукции на 60-70 процентов по сравнению с традиционным подходом
              и гарантировать конкурентоспособные технические характеристики
              изделий.
            </p>
          </div>
        </div>
      </div>
      <button class="specialized-content__btn btn" type="button">
        У МЕНЯ ПОХОЖИЙ ПРОЕКТ
      </button>
    </div>
  </div>
  <div class="specialized__content specialized-content--fifth  specialized-content tabs-content">
    <div class="container">
      <div class="specialized-content__wrapper">
        <div class="specialized-content__left">
          <h3 class="specialized-content__heading">
            Комплексное решение для проектирования турбомашин
          </h3>

          <div class="specialized-content__time">
            <p>Сократит время цикла проектирования турбомашин на 60-70%</p>
          </div>
          <div class="specialized-content__text">
            <p>
              Современный уровень конкуренции среди производителей турбомашин:
              насосов, компрессоров, турбин, вентиляторов, ставит повышенный
              уровень требований к скорости выхода изделий на рынок и
              техническим характеристикам продукции. Заказчик желает получить
              продукт высочайшего качества в короткий срок при сохранении
              адекватной стоимости.
            </p>
          </div>
        </div>
        <div class="specialized-content__img">
          <img src="images/content/specialized.jpg" alt="турбомашина" />
        </div>
        <div class="specialized-content__solution">
          <h3 class="specialized-content__heading">РЕШЕНИЕ:</h3>
          <div class="specialized-content__text">
            <p>
              Компания Connective PLM создала комплекс методологических и
              программных решений, позволяющих производителям турбомашинного
              оборудования создавать конкурентоспособную продукцию качественно и
              в срок, позволяющий сократить время цикла проектирования образца
              продукции на 60-70 процентов по сравнению с традиционным подходом
              и гарантировать конкурентоспособные технические характеристики
              изделий.
            </p>
          </div>
        </div>
      </div>
      <button class="specialized-content__btn btn" type="button">
        У МЕНЯ ПОХОЖИЙ ПРОЕКТ
      </button>
    </div>
  </div>
</section>
