<section class="support">
  <div class="container">
    <div class="support__text">
      <p>
        Компания “Connective PLM” уделяет большое внимание качеству технической
        поддержки.
      </p>
      <p>
        Все пользователи могут отправить вопрос специалистам технической
        поддержки и получить квалифицированную консультацию.
      </p>
      <p>
        Обратиться в службу техподдержки можно через форму обратной связи или по
        указанным ниже контактам.
      </p>
    </div>
  </div>

  <div class="support__inner">
    <div class="container">
      <div class="support__info">
        <ul class="support__list">
          <li class="support__item">
            <a
              class="support__link support__link--phone"
              href="tel:+78123131810"
            >
              <span class="support__link-name">телефон:</span>
              <span class="support__link-numbers">8 (812) 313-18-10</span>
            </a>
          </li>
          <li class="support__item">
            <a
              class="support__link support__link--mail"
              href="mailto:supportt@connective-plm.com"
            >
              <span class="support__link-name">e-mail: </span>
              <span class="support__link-numbers">
                supportt@connective-plm.com
              </span>
            </a>
          </li>
        </ul>
        <div class="support__right">
          <div class="socials">
            <ul class="socials__list">
              <li class="socials__item">
                <a class="socials__link socials__link--whatsapp" href="#"
                  >WhatsApp</a
                >
              </li>
              <li class="socials__item">
                <a class="socials__link socials__link--telegram" href="#"
                  >Telegram</a
                >
              </li>
              <li class="socials__item">
                <a class="socials__link socials__link--vk" href="#"
                  >Vkontakte</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
