<section class="target">
  <div class="container">
    <div class="target__wrapper">
      <div
        class="target__preview"
        style="background-image: url('images/content/target.jpg')"
      ></div>
      <div class="target__offer">
        <div class="target__top">
          <h2 class="target__title">connective plm</h2>
          <div class="target__text">
            <p>
              специализируется на внедрении передовых решений, предназначенных
              для цифрового сопровождения изделия на всех этапах его жизненного
              цикла.
            </p>
          </div>
        </div>

        <div class="target__quote">
          <p>
            Цель нашей компании – трансфер самых современных и
            эффективных технологий на российские промышленные предприятия.
            Специалисты нашей компании активно исследуют новейшие методики и
            концепции в области цифрового производства, такие как: Цифровой
            двойник, Системная инженерия, Бесчертежное проектирование др. и опыт
            их применения на предприятиях мира.
          </p>

          <span
            >Реализация этих идей является важным шагом на пути преобразования
            вашего бизнеса.</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
