<section class="teaching-team">
  <div class="container">
    <div class="teaching-team__top">
      <h2 class="teaching-team__title">Наша команда преподавателей</h2>
      <div class="teaching-team__text">
        <p>
          Все преподаватели имеют обширный практический опыт применения и
          внедрения систем CAD / CAM / CAE / PLM на предприятиях в России и
          Европе. Мы готовы поделиться своими знаниями и организовать тренинги
          на высоком уровне, в комфортной обстановке и с большой практической
          ценностью для дальнейшего применения в повседневной работе.
          Приобретенные навыки позволят повысить эффективность работы
          сотрудников предприятия, а студентам помогут получить опыт и повысить
          свой статус на рынке труда.
        </p>
      </div>
    </div>

    <div class="teaching-team__content">
      <div class="teaching-team__slider swiper">
        <ul class="teaching-team__slides swiper-wrapper">
          <li class="teaching-team__slide swiper-slide">
            <article class="teaching-card">
              <div class="teaching-card__top">
                <img
                  src="images/content/teacher/1.jpg"
                  alt="Александр Гладкий"
                />
              </div>
              <div class="teaching-card__body">
                <h3 class="teaching-card__title">Александр Гладкий</h3>

                <div class="teaching-card__prof">
                  <p>Архитектор PLM - решений</p>
                </div>
              </div>
            </article>
          </li>
          <li class="teaching-team__slide swiper-slide">
            <article class="teaching-card">
              <div class="teaching-card__top">
                <img
                  src="images/content/teacher/2.jpg"
                  alt="Александр Гладкий"
                />
              </div>
              <div class="teaching-card__body">
                <h3 class="teaching-card__title">Анастасия Першина</h3>

                <div class="teaching-card__prof">
                  <p>Группа индустриального консалтинга</p>
                  <p>Специалист по PLM - системам</p>
                </div>
              </div>
            </article>
          </li>
          <li class="teaching-team__slide swiper-slide">
            <article class="teaching-card">
              <div class="teaching-card__top">
                <img
                  src="images/content/teacher/3.jpg"
                  alt="Александр Гладкий"
                />
              </div>
              <div class="teaching-card__body">
                <h3 class="teaching-card__title">Алексей Митюк</h3>

                <div class="teaching-card__prof">
                  <p>Группа цифрового производства</p>
                  <p>Руководитель</p>
                </div>
              </div>
            </article>
          </li>
          <li class="teaching-team__slide swiper-slide">
            <article class="teaching-card">
              <div class="teaching-card__top">
                <img
                  src="images/content/teacher/4.jpg"
                  alt="Александр Гладкий"
                />
              </div>
              <div class="teaching-card__body">
                <h3 class="teaching-card__title">Алексей Ширков</h3>

                <div class="teaching-card__prof">
                  <p>Группа цифрового производства</p>
                  <p>Специалист</p>
                </div>
              </div>
            </article>
          </li>
          <li class="teaching-team__slide swiper-slide">
            <article class="teaching-card">
              <div class="teaching-card__top">
                <img
                  src="images/content/teacher/1.jpg"
                  alt="Александр Гладкий"
                />
              </div>
              <div class="teaching-card__body">
                <h3 class="teaching-card__title">Александр Гладкий</h3>

                <div class="teaching-card__prof">
                  <p>Архитектор PLM - решений</p>
                </div>
              </div>
            </article>
          </li>
          <li class="teaching-team__slide swiper-slide">
            <article class="teaching-card">
              <div class="teaching-card__top">
                <img
                  src="images/content/teacher/2.jpg"
                  alt="Александр Гладкий"
                />
              </div>
              <div class="teaching-card__body">
                <h3 class="teaching-card__title">Анастасия Першина</h3>

                <div class="teaching-card__prof">
                  <p>Группа индустриального консалтинга</p>
                  <p>Специалист по PLM - системам</p>
                </div>
              </div>
            </article>
          </li>
          <li class="teaching-team__slide swiper-slide">
            <article class="teaching-card">
              <div class="teaching-card__top">
                <img
                  src="images/content/teacher/3.jpg"
                  alt="Александр Гладкий"
                />
              </div>
              <div class="teaching-card__body">
                <h3 class="teaching-card__title">Алексей Митюк</h3>

                <div class="teaching-card__prof">
                  <p>Группа цифрового производства</p>
                  <p>Руководитель</p>
                </div>
              </div>
            </article>
          </li>
          <li class="teaching-team__slide swiper-slide">
            <article class="teaching-card">
              <div class="teaching-card__top">
                <img
                  src="images/content/teacher/4.jpg"
                  alt="Александр Гладкий"
                />
              </div>
              <div class="teaching-card__body">
                <h3 class="teaching-card__title">Алексей Ширков</h3>

                <div class="teaching-card__prof">
                  <p>Группа цифрового производства</p>
                  <p>Специалист</p>
                </div>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
      </div>
    </div>
  </div>
</section>
